h2 {
    text-align: center;
}

#resourcesContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin:0 auto;
    margin-top: 50px;
    padding-left:10%;
    padding-right:10%;
    background-image: linear-gradient(
        rgba(1, 1, 1, 0),
        #333,
        rgba(1, 1, 1, 0)
    );
}

#jasmine {

}

h4 {
    margin: 0px;
}

.name {
    text-align: center;
    font-size: 15pt;
}
.role {
    text-align: center;
    font-size: 10pt;
    color: goldenrod;
    padding-top: 4pt;
}

.resources-item {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 50px;
}

@media (min-width: 868px) {
    #resourcesContent {
        padding-left:10%;
        padding-right:10%;
    }
    .resources-item {
        width: 200px;
    }
}

.resources-item p {
    text-indent: 0px;
    font-size: 15px;
}

.resources-image {
    border-radius: 10px;
}

.resources-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

#jasmine-image:hover img {
    scale: 1.0;
}

.resources-image {
    overflow: hidden;
    margin-bottom: 20px; 
}

