#hp-group-photo {
    margin-top: -100px;
    margin-bottom: 50px;
    height: 100vh;
}

#events-section-title {
    padding-bottom: 50px;
}

#lloyd-map-left {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
}

#lloyd-map-left > img {
    width: 100%;
    height: 100vh;
    object-fit: scale-down;
}

#belowMap {
    position: relative;
    top: 0;
    left: 0;
}


#aboveMap {
    position: absolute;
    top: 0;
    left: 0;
}

#aboveMap {
    opacity: 0;
}

#lloydgpt {
    background-color: #222;
}

#dynamicText {
    padding: 2vh;
    margin-top: 5vh;
    font-size: 2vh;
    width: 100%;
    text-align: center; 
}
#dynamicText:focus {
    outline-width: 0;
}
#dynamicText::placeholder {
    color: #bbb;
}
#dynamicText:focus::placeholder {
    color: transparent;
}
#gptSubmit {
    padding: 2vh 3vh;
    font-size: 2vh;
    margin: 2vh;
    background-color: #FCD367;
    color: black;
    font-weight: bold;
}

@media (min-width: 768px) {
    #aboveMap {
        opacity: 1;
    }
    
    @keyframes grow-disappear {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(2);
            opacity: 0;
        }
    }

    #lloyd-map-left.active > #aboveMap {
        animation: grow-disappear 0.5s forwards;
    }
}


/* #lloyd-map-left > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 80% 50%;
  transition: transform 1s ease;
  transition-delay: 0.3s;
} */
