<div id="bylawtitle">Mural Resolution</div>
<div id="bylawsubtitle">
  passed by Excomm October 31, 2001<br>
  passed January 5, 2005
</div>

<div class="bylawcontent">The purpose of the mural resolution is to first, ensure that the mural has the approval of those it affects most; second, protect existing murals; and third, facilitate the retiring of old murals.</div>

<div class="bylawcontent">
  <ol>
    <li>A mural shall refer to a painting or other artistic expression.</li>
    <li>Murals painted on a white wall must be approved by the UCC of that alley. If the mural is in a common area (e.g. stairwell or library alley), then it must be approved by a two-thirds majority of Excomm</li>
    <li>An existing mural in a common area may only be removed or replaced by a two-thirds vote by full House members, with a standard quorum of one-third of the full members.</li>
    <li>An existing mural in an alley may be removed or replaced by a two-thirds vote by full House members or by four-fifths vote of the current alley members.</li>
  </ol>
</div>