<div id="bylawtitle">
  Roompick Rules
</div>
<div id="bylawsubtitle">
  passed May 6, 1993<br />
  amended April 6, 1994<br />
  amended May 4, 1994<br />
  updated May 2, 1997<br />
  amended January 20, 1998<br />
  amended January 5, 2005<br />
  amended May 21, 2006<br />
  amended January 22, 2010<br />
  amended April 22, 2010<br />
  amended May 8, 2012<br />
  amended February 21, 2013<br />
  amended February 3, 2016<br />
  amended April 20, 2019<br />
  amended January 13, 2020<br/>

</div>
<div class="bylawheading">
  1. Definitions
</div>
<div class="bylawcontent">
  <ol style="list-style-type: lower-alpha">
    <li>Single - A two-person room which is occupied by only one person.</li>
    <li>Declared Single - single, as above, as the result of a previous roompick. Freshmen may not hold declared singles.</li>
    <li>N-Person room - a room designed for exactly N people.</li>
    <li>N-person Off Campus House - an off campus affiliated building with one street address that accomodates N people. This designation will apply only during End-of-Year Roompicks. During middle-of-year roompicks, such a house will be awarded as N-person rooms according to the Housing Office designations. In no case shall the designation of N-person house apply for N greater than 4.</li>
    <li>Class designation - (FR, SO, JR, SR, SS) as defined below:
      <ol style="list-style-type: lower-roman">
        <li>When a student (frosh, transfer or otherwise) becomes a full member, they must obtain a class designation; incoming freshmen will be assigned &quot;frosh&quot; designation, while transfers and returning students must declare their class designation with the Secretary. This class designation will be used in all RoomPicks.</li>
        <li>Each member's class designation will increment [ FR SO JR SR SS ] automatically and only immediately preceding the end-of-year RoomPick.</li>
        <li>Members shall not enter the end-of-year RoomPick with the same class designation more than once, with the exception of extenuating cases of returning members.</li>
      </ol>
    </li>
    <li>Settler - A person who shall inhabit a room or house in the upcoming academic Institute Housing period.</li>
    <li>Squatter - A student who most recently inhabited a room or house.</li>
    <li>Undeclared Single - a single that arises not as the result of a previous roompick but due to one roommate dropping out of the room.</li>
    <li>Member (as used in Roompick Rules only) - a previous full member who will be a full member in the following term. This includes returning students and people who are not currently students but have sufficient confidence from the dean(s) of their return as a student for the following term (see Article I of the Constitution for how these people may reinstate membership).</li>
    <li>Screwed-over - the state of a senior (SR) who has entered roompicks the past two years and not received a room either time.</li>
    <li>{SR-picked, JR-picked, SO-picked} room - a C-picked room is a room picked by a member of class C. A pair (or group) of roommates is free to choose which of them is picking.</li>
  </ol>
</div>

<div class="bylawheading">
  2. Roompick Order
</div>
<div class="bylawcontent">
  <ol style="list-style-type: lower-alpha">
    <li>The President of Lloyd House shall have the highest overall roompick.</li>
    <li>SR pick higher than JR who pick higher than SO who pick higher than FR who pick higher than SS.</li>
    <li>Officers pick at the top of their respective classes in the following order: Secretary, Superintendent, Social Director, Treasurer, Athletic Manager, BOC Rep.</li>
    <li>Card Pick is used to resolve all ties, <strong>except in the case of end-of-year roompicks, see (3.g)</strong>. The rankings of cards will be announced by the Secretary prior to the drawing of cards.</li>
    <li>Health Ad, UCC, and Excomm Privileges and Restrictions
      <ol style="list-style-type: lower-roman">
        <li>UCCs whose terms begin at the start of the academic year must live in their respective alleys for the duration of their term. The President, Secretary, and Superintendent must remain on campus or move on-campus at the start of the new academic year. If any of the above move off-campus during the course of their term, they must relinquish their office at that time. Excomm must take appropriate action to fill that vacancy.</li>
        <li>Treasurer, Social Director, and Ath Manager retain their roompick ranks and are encouraged to move on-campus if elected while living off-campus but may choose to not exercise this right. However, Excomm, by a simple majority vote, may require any of the above to move on-campus at the first opportunity or relinquish their office at that time.</li>
        <li>In order to guarantee that at least two health ads (rising juniors or higher) are offered residence on campus each year, the following lockout protocol shall be in effect during the first on-campus round of end-of-year roompicks: after the seniors have finished picking and the number of rooms allotted to juniors has been determined (taking into account 2.e and 3.d.iii), the Secretary will iterate through the junior roster. Before each junior pick, the Secretary must consider how many health ads are not yet guaranteed a spot on campus (either having already picked one or being a UCC or a UCC's roommate), and consider how many rooms need to be set aside to get to 2 health ads (1 if either only 1 more health ad is required, or the next health ad pick consists of 2 health ads rooming together, and 2 otherwise), and move onto the first health ad pick if there are only that many rooms left for juniors.

        Situations where this is not sufficient to ensure 2 health ads are rooming on-campus (for example if there's only 1 junior health ad but at least 1 senior health ad) are resolved at the secretary's discretion.</li>
      </ol>
    </li>
    <li>Screwed-over seniors receive elevated picks below BOC reps.</li>
  </ol>
</div>
<div class="bylawheading">
  3. End-of-Year Roompicks
</div>
<div class="bylawcontent">
  <ol style="list-style-type: lower-alpha">
    <li>End-of-Year Roompicks will occur between three days after the postings of the general OC pick order and three days before the actual OC picks.</li>
    <li>All members entering should notify the Secretary by three days prior.</li>
    <li>A master list ranking all those who entered roompicks will be posted at least two days before roompicks start.</li>
    <li>Starting at the top of the list, moving down, eliminating people and cycling through the list as many times as is necessary, the person whose turn it is to pick may pass, or, if they can produce the necessary roommate(s), pick any room of Lloyd housing, on-campus or otherwise, subject to the following constraints:
      <ol style="list-style-type: lower-roman">
        <li>The first time through the list only non-doubles can be chosen. N-person off campus houses may be selected by N people as a whole. If no group of N people wishes to select the house together, the house shall be broken up into N-person rooms as designated by the Housing Office. If affiliated Off-Campus spaces remain open after On-Campus has filled, then Off-Campus picks will resume with the first person who had not yet had an opportunity to pick after On-Campus filled.</li>
        <li>Between the first and second times through the list, UCC's and others who are guaranteed a spot on campus must declare their roommates. See (2.e).</li>
        <li>During the second time through the list, after the number of SR-picked rooms in this round, anticipating those from (ii), reaches 2/5 (rounded up) of the available rooms (calculated at the start of seniors picking), no senior, except those from (ii), can pick again until the next time through the list.</li>
        <li>During the third time through the list, after the number of JR-picked rooms in this round, anticipating those from (ii), reaches 1/2 (rounded up) of the available rooms (calculated at the start of juniors picking), no junior, except those from (ii), can pick again until the next time through the list.</li>
        <li>The incoming UCC committee may set limits on the number of new students and upperclassmen living in each alley prior to the roompick. If it fails to set such limits, there shall be no restrictions placed on the number of upperclassmen and new students required to live in each alley.</li>
        <li>At their turn to pick, anyone may declare a &quot;Frosh&quot; as a roommate, subject to the following constraints:
          <ol style="list-style-type: lower-alpha">
            <li>When picking a &quot;Frosh&quot; as a roommate, you may be forced to enter Beginning-of-the-Year Roompicks.</li>
            <li>If after the last on-campus room has been picked, the parity of declared &quot;Frosh&quot; Roommates does not equal the parity of the expected number of FR, the last person to declare a &quot;Frosh&quot; roommate will not be allowed to do so, and must find a Upperclassman roommate, use his pick to pick off campus, or pass (giving up his room).</li>
            <li>At most one person may declare a &quot;Frosh&quot; roommate, and only in cases when parity is odd. This person will pick after SuperSeniors in the roompick order.</li>
          </ol>
        </li>
        <li>Before each Pick, a check will be made both to check alley lockouts and to ensure that there are enough rooms available for those guaranteed a room in (2.e). Once there are just enough rooms remaining for those guaranteed a room in (2.e), then the pick will continue down the list, allowing only those mentioned in (2.e) to pick rooms this time through the list.</li>
        <li>Items (2.d.iii) and (2.d.iv) are present in order to ensure an approximately 40:30:30 balance between classes, favoring upperclassmen. The calculations are made with respect to rooms not heads, so a junior rooming with a senior who picked earlier does not count toward the limit in (2.d.iv). Excomm picks are included in the calculation.</li>
        <li>Superseniors (SS) are may not pick on any cycle until all SOs, JRs, and SRs have picked.</li>
      </ol>
    </li>
    <li>The Secretary will record an ordered list of the End-of-Year Roompicks. This list will be saved by the Secretary until the end of the ensuing Rotation. The Secretary will also record who entered roompicks for the purposes of determining which future seniors fulfill definition (2.f).</li>
    <li>Changes during the Summer
      <ol style="list-style-type: lower-roman">
        <li>For changes that occur before the Beginning-of-Year Roompick, the picking order is the same as it was for the end-of-year roompick.</li>
        <li>If an undeclared single is created during the summer, the occupant of the room must accept any available roommate or the room will be entered into roompicks at this time.</li>
        <li>If a room is completely vacated or the expected number of FR decreases by two or more, the subsequent vacancies are entered into roompick.</li>
        <li>If the change in the expected number of FR decrease by an odd amount, then if there are still declared &quot;Frosh&quot; roommates, the last person to have picked such must accept any available roommate or they (and a room) will be entered into roompicks at this time.</li>
        <li>The roompick shall proceed as in D above with all the restrictions applying.</li>
      </ol>
    </li>
    <li>Ties in pick order will be broken using the Caltech off-campus lottery picks, in reverse order, always deferring to the most up-to-date version in case of corrections or additions. Cases where a Lloydie cannot obtain a lottery pick will be resolved according to the Secretary's discretion.</li>
  </ol>
</div>
<div class="bylawheading">
  4. Beginning-of-the-Year Roompicks
</div>
<div class="bylawcontent">
  <ol style="list-style-type: lower-alpha">
    <li>All Freshmen picked into the House and all Upperclassmen with &quot;Frosh&quot; roommates are entered into this roompick and must draw a card. No other upperclassman may enter these roompicks except in the case of unanticipated vacancies in Lloyd Housing.</li>
    <li>Procedure
      <ol style="list-style-type: lower-roman">
        <li>The Secretary will compose and post a master list of picking order.</li>
        <li>Starting from the top of the list and working down until all spots are chosen, the person whose pick it is may pass and be moved to the bottom of the list, or, if they can produce a roommate, pick a room.</li>
        <li>If all the remaining people on the list have already passed, they may be forced to room together.</li>
      </ol>
    </li>
  </ol>
</div>
<div class="bylawheading">
  5. Summer Roompicks
</div>
<div class="bylawcontent">
  <ol style="list-style-type: lower-alpha">
    <li>Rules for Summer roompicks shall be listed in descending priority. In the event that a conflict occurs among summer roompick rules, the Secretary shall make a ruling which is consistent with Institute requirements.</li>
    <li>The Secretary shall ensure a sufficient number of non-freshman rooms is available for summer storage.</li>
    <li>A pair which consists of at least one settler shall have priority over a pair which consists of at least one squatter, both of which have priority over other pairs or singles.</li>
    <li>Rules 2a through 2d shall govern the order of roompicks with the addition that recently graduated seniors shall pick higher than rising seniors.</li>
  </ol>
</div>
<div class="bylawheading">
  6. Other Roompicks
</div>
<div class="bylawcontent">
  <ol style="list-style-type: lower-alpha">
    <li>Roompicks will be held within two weeks of the beginning of every term as well as within two weeks of the opening of a vacancy in Lloyd Housing or Lloyd-affiliated housing. The Secretary will inform the House members of the available spots within the House and off-campus affiliated housing.</li>
    <li>All members wishing to enter roompicks must inform the Secretary at least one day prior to the roompick.</li>
    <li>All members entering the roompick retain squatter's rights to their current room, so long as they have a roommate, but the room is entered into the roompick.</li>
    <li>All members living in undeclared singles must accept any available or enter roompicks.</li>
    <li>If the number of people entering picks is less than the number of spots available, the appropriate number of singles will be created. Procedure:
      <ol style="list-style-type: lower-roman">
        <li>The Secretary will compose and post a master list of picking order.</li>
        <li>Starting from the top of the list and working down until all spots are chosen, the person whose pick it is may pass or, if they can produce the necessary roommate(s), pick a room. Alternatively, if the number of available spaces exceed the number of people who have not yet picked, then the person may pick a room alone.</li>
      </ol>
    </li>
    <li>Roommate swaps and/or room swaps may occur at any time, at the request of all participants, without a roompick; with the approval of the Secretary.</li>
    <li>If, at the time of a roompick there are people holding declared singles and the number of people that wish to move on campus as doubles is greater than the number of vacancies due to undeclared singles and/or unoccupied rooms, then some of the peopl e holding declared singles prior to the roompicks may have them &quot;undeclared&quot; subject to the following conditions.
      <ol style="list-style-type: lower-roman">
        <li>If only one individual of a particular gender holds a single prior to a roompick, and that single is a declared single, then that single can not be undeclared as a result of that roompick. The holder of the single need not enter the roompick.</li>
        <li>All other holders of declared singles must enter the roompick.</li>
        <li>The single with the lowest pick and the single of the same gender with the next lowest pick each have the opportunity to find a roommate and exercise squatter's rights with their current room. Should neither of them do this, these two individuals shall room together and a double shall be brought on campus. If one of these individuals finds a roommate, he/she leaves the roompick and this process is repeated as necessary. If at any point there is only one single remaining of a given gender, that single remains declared and is removed from the roompick.</li>
        <li>If singles are forced to pair together, they may exercise squatter's rights with the room either single occupied before the roompicks, or they may pick from the available rooms in the roompick at their turn to pick.</li>
        <li>No person shall lose a declared single in order to give someone else a declared single, nor shall any singles be undeclared in a roompick that results in new singles being declared.</li>
        <li>No individual shall be forced off-campus as a result of their single becoming undeclared unless they are unwilling to find or accept a roommate.</li>
      </ol>
    </li>
  </ol>
</div>
<div class="bylawheading">
  7. Alley Loss
</div>
<div class="bylawcontent">
  <ol style="list-style-type: lower-alpha">
    <li>If for any reason Lloyd must give up an on-campus alley, the alley to be lost will be selected by some random procedure performed by the President.</li>
    <li>Once an alley has been lost, vacancies will be created by reclaiming the rooms selected last from the previous End-of-Year Roompicks, using the list created by the Secretary. The number of vacancies created in this manner will match the number of rooms in the lost alley that were not reserved for Freshmen. The vacancies that are created outside of the lost alley will be entered into a special Roompick in which members of the lost alley get top priority in order of their picks from the Secretary's list, followed by those who were vacated as part of this process.</li>
    <li>If an off-campus alley is lost, the lockout barrier for each alley is decreased by one from the barriers set at the previous End-of-Year Roompicks, and the members of the off-campus alley are entered into an exclusive Roompicks for the newly available rooms.</li>
    <li>If extra Freshmen exceeding the number of Frosh rooms are assigned to Lloyd, create rooms for them starting with the last pick from the Secretary's list from the previous Roompicks and proceeding as high up the list as necessary.</li>
  </ol>
</div>
<div class="bylawheading">
  8. The Secretary reserves the right to interpret these rules at his/her discretion.
</div>
