<div id="bylawtitle">UCC Selection</div>
<div id="bylawsubtitle">
  passed May 6, 1993 <br>
  amended April 6, 1994<br>
  amended January 5, 2005<br>
  amended May 8, 2012<br>
  ammended February 21, 2013
</div>
<div class="bylawcontent">
  <ol>
    <li>The UCC committee shall typically consist of one member per on-campus alley and two off campus members, chosen separately. These members shall be appointed by the UCC Selection Committee during the third term before the end-of-year roompicks. Signups shall be made available at least one week.  There must be a period of at least 2 days between when the signups are taken down and when interviews begin.  During these periods, any full member is encouraged to submit a written comment concerning the candidates to a Lloyd RA in person.  If requested, the comment can be kept anonymous to the UCC selection committee.  The RA(s) will use these comments in UCC selection at his/her discretion.</li>

    <li>Prior to selections, potential roommate pairs should provide written notification to the Executive Committee regarding their intentions should both persons win. Excomm may not use these intentions as a selection criteria as they are to remain secret until selections have been made.</li>

    <li>The UCC's will take office at the beginning of each school year.</li>

    <li>Current sophomores and juniors should be given preference during the UCC selection process.</li>

    <li>All UCC's are guaranteed an on-campus space in their repective alleys.</li>

    <li>After the on-campus UCC's have been selected, they shall meet, before end-of-the-year roompicks, to choose their alleys. The procedure for this choice shall be decided by the new committee members.</li>

    <li>The committee, once fully assembled, must elect a chair from amongst themselves.</li>

    <li>The UCC Selection Committee shall consist of all non-running members of Excomm and the RA. The Selection Committee may choose to include current UCCs who are not running for UCC for the following year to be on the Selection Committee.</li>
    <li> If a UCC steps down, the new UCC will be selected by the same process used for all the other UCC selections.  An on-campus UCC must live on campus and an off-campus UCC must live off campus.
  </ol>
</div>