{%extends "base.html" %}
{% block content %}

	<div class="container">
      <h1>Account Manager</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
          {% for message in messages %}
              <li style="color: red;">{{ message }} </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <br>
      <div class="col-sm-2">
        <div class="form-group">
          <form action="" method="post" name="account">
            Comment: <div>{{ form.comment(size=20, class="form-control") }}</div>
            <br>
            <input class="btn btn-default" type="submit" value="Update">
          </form>
        </div>
      </div>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
	

{% endblock %}