<div id="bylawtitle">Election Procedures</div>
<div id="bylawsubtitle">
  passed May 6, 1993<br>
  amended April 6, 1994<br>
  amended August 29, 1997<br>
  amended January 22, 2010<br>
  amended May 8, 2012<br>
  amended March 13, 2014 <br>
</div>

<div class="bylawcontent">
  <ol>
    <li>Annual elections for the Executive Committee (Excomm) shall be held during the first half of second term. The Secretary shall post sign-ups for House offices at least one week before election night.</li>

    <li>Members running for offices shall declare their candidacy by adding their names to the appropriate sign-ups. All candidacies shall be declared at least two days prior to election night. Candidates for multiple offices shall submit a list of all the offices for which they will run to the Secretary at least one day before election night. The candidate shall rank offices on this list in order of personal preference, and its contents are to remain within the Election Committee.</li>

    <li>After the close of candidacy declarations, the Excomm shall appoint an Election committee consisting of three Members; unless standing for election, the Secretary shall chair the Election Committee. The Election Committee shall constitute ballots, make ballots available on election night, receive completed ballots, tally votes, and report election results.</li>

    <li>A quorum at Election Night exists if the sum of ballots collected is at least one-third of all Members. Members shall rank the candidates for each office in order of preference on their ballot.</li>

    <li>Members who choose not to attend election night may obtain absentee ballots from the Election Committee on election day. Completed absentee ballots must be returned to the Election Committee before Election Night is called to order.</li>

    <li>The selection of President, Secretary, Superintendent, Treasurer, Social Director, and Athletic Manager shall proceed as follows:

      <ol type="a">
        <li>Within each office, candidates shall receive one vote for each ballot ranking them first. The candidate(s) receiving the least number of votes shall be eliminated from consideration, unless this would allow a candidate to win without a majority of non-abstention votes. Votes for the eliminated candidate(s) shall be redistributed among the remaining candidates according to the ranking on each ballot. A ballot that ranks two or more remaining candidates evenly, or does not list any remaining candidate, shall be considered an abstention from that round of elimination. The process of elimination and redistribution shall continue until one candidate for each office remains.</li>

        <li>If there is a tie for the least number of votes during any round of elimination, all candidates involved in the tie shall be eliminated unless the sum of their votes constitutes a majority of non-abstention votes in that round. To resolve that case, votes for candidates not involved in the tie shall be redistributed among the candidates involved in the tie; only candidate(s) gaining a plurality in the resulting count shall advance to the next round of elimination. If the tie remains unresolved, a new vote comprising only the uneliminated candidates shall be taken; for purposes of the tie, absentee votes shall be counted as if cast in this new vote.</li>
        <li>If a pair of Social Directors are running in the election process, 
        they will do so as one entity on the ballot. The two Social Directors 
        will specify in their run which one of the two will be the spokesperson
        for the pair; the other will act as a non-voting member of Excomm. 
        The voting member of the pair can be switched at any time by a simple 
        majority vote of Excomm.</li>
      </ol>
    </li>

    <li>The selection of Representative-at-Large  shall proceed as follows: 

      <ol type="a">
        <li>The single transferable vote (STV) system shall be used as described below.</li>

        <li>Definitions: 
          <ul>
            <li>To "transfer" a ballot is to assign it to its highest-ranking continuing candidate.</li>

            <li>A "transferable ballot" is a ballot which lists or designates at least 1 continuing candidate.</li>

            <li>"The quota" is the number of valid ballots cast in the election divided by P+1.</li>
          </ul>
        </li>

        <li>Each ballot, at the beginning of the count, shall have the value of 1 vote. Each candidate, at the beginning of the count, shall have a vote total of 0.</li>

        <li>When a ballot is transferred to a candidate, his vote total is increased by the value of the ballot. When a ballot is transferred from a candidate, his vote total is decreased by the value of the ballot.</li>

        <li>Immediately after each allocation, either e.i or e.ii (below) shall be carried out, depending on whether or not that allocation has resulted in a candidate acquiring a quota.

          <ol type="i">
            <li>If any candidate has acquired a quota as a result of the allocation that has just been completed, then that candidate is elected as of that time. If his vote total exceeds a quota then he has a "surplus," and his surplus is equal to the amount by which his vote total exceeds the quota. The rest of this paragraph shall be carried out for every candidate who has a surplus as a result of the allocation that has just been completed. For each such candidate, his surplus shall be divided by his vote total, and the value of his transferable ballots shall be multiplied by the result of that division. Each of his transferable ballots shall then be transferred.</li>

            <li>If no candidate has acquired a quota as a result of the allocation that has just been completed, then the candidate with the lowest vote total shall be eliminated, and his transferable ballots transferred. If two or more candidates tie for the lowest vote total, they shall all be eliminated unless such elimination would result in less than the required number of winning candidates. In this case, unless paragraph f applies, an election must be held between all non-winning candidates.</li>
          </ol>
        </li>

        <li>If candidates tie, and as a result there are more than P candidates elected, a new election will be held to choose among the tied candidates.</li>

        <li>The count shall end either when P candidates have been elected or when only P candidates remain uneliminated (in which case those P candidates are declared elected), whichever happens first.</li>

      </ol>
    </li>

    <li>After winning candidates have been found in all elections, the Election Committee, in accordance with the candidate's stated preference, shall assign one office to candidates winning multiple positions. If more than one candidate wins multiple offices, then the preferences of the winner of the highest office(*) shall be applied first. Candidates who have received office shall be eliminated from all other races, and votes in races not yet decided shall be retallied as if none of them had run.</li>

    <li>After determining the winner(s) of each election, the Election committee shall announce election results. Results shall be publicly posted before the end of election day. Challenges to the outcome of any race must be submitted in writing to the Election Committee no more than 24 hours after results have been posted. All challenges shall be decided by the non-running members of the outgoing Excomm, but in the period between the challenge being proposed and the challenge being decided, all matters excluding the challenge shall be examined by the entire outgoing Excomm. The Election Committee shall destroy all voting materials after all challenges have been resolved.</li>

    <li>Elections for Board of Control Representative will be held at a time to be determined by the outgoing representative in accordance with ASCIT/BoC bylaws. The Secretary shall preside over the election, unless the Secretary is a candidate in the election, in which case the Secretary shall appoint an Election Chair. The election procedure itself will be as described above for general House elections (relevant parts of Sections 1,2,6,7,9 above), except that a ballot box must remain out for a period of no less than 24 hours. Anyone who is not a full house member of Lloyd House who intends to vote should notify the Election Chair at least 24 hours before the votes are collected.See ASCIT/BoC bylaws for voter eligibility requirements.</li>

    <li>Election results consist of an alphabetically ordered list of winners unless all candidates for an office agree to a more detailed reporting of results for the election of that office at the same time office preferences are due. Candidates may choose to have results consist of a list of winners and the order of elimination of non-winners and winners or a complete breakdown of votes and abstentions by round. If candidates do not consent to release of additional information prior to the election, then a posted list of winners is the only information that will be released.</li>
  </ol>
</div>

<div class="bylawcontent">
  (*) Offices are ranked in the following order : President, Secretary, Superintendent, Treasurer, Social Director, Athletic Manager, Representative-at-Large, Social Team, Athletic Team.
</div>