<div id="bylawtitle">Membership</div>
<div id="bylawsubtitle">
  passed May 6, 1993<br>
  amended April 6, 1994<br>
  amended January 5, 2005<br>
  amended January 13, 2020
</div>

<div class="bylawcontent">
  <ol>
    <li>All members shall be either selected during New Student Rotation or elected by the House membership. These members, retaining all the rights and privileges afforded them by Article I, will be referred to as full members.</li>
    <li>Social members may also be selected by the House. They need not be registered Caltech students. Social members have the right to attend and participate in all House meetings and events as well as use House equipment. They cannot enter roompicks, vote, or run for office.</li>
    <li>All applications for membership should be announced at least a week in advance of voting. Any problems or challenges should be brought to the Excomm or the Secretary within a week and will be left to their discretion. </li>
    <li>1/3rd of the house membership will be required for quorum for all member elections. A simple majority of those voting must approve social membership applications. Two-thirds of those voting must approve full membership applications. Voting shall run for at least one week until quorum is reached.</li>
    <li>After any term, a full member may choose to become a social member without a vote. This includes seniors who would like to become social members in the term immediately following their graduation.</li>
  </ol>
</div>
