<div id="bylawtitle">Membership</div>
<div id="bylawsubtitle">
  passed May 6, 1993<br>
  amended April 6, 1994<br>
  amended January 5, 2005
</div>

<div class="bylawcontent">
  <ol>
    <li>All members shall be either selected during New Student Rotation or elected by the House membership. These members, retaining all the rights and privileges afforded them by Article I, will be referred to as full members.</li>

    <li>A House meeting must be held after New Student Rotation for full members to express their individual preferences and to give information to those attending New Student picks.</li>

    <li>Social members may also be selected by the House. They need not be registered Caltech students. Social members have the right to attend and participate in all House meetings and events as well as use House equipment. They cannot enter roompicks, vote, or run for office. Any social members selected before May 6, 1993 retain the right to vote.</li>

    <li>All applications for membership should be announced at least a week in advance of voting. Voting which occurs less than one week after announcement may be challenged for up to one week after announcement. If challenged, any previous voting results for the applicant shall be nullified and voting shall occur no earlier than one week after the challenge has been made. A ballot box and voting register shall be placed conspicuously in the house by the Secretary for at least twenty-four consecutive hours after this one week period.</li>

    <li>A simple majority of those voting must approve social membership applications. A quorum (one-third of the house) must vote to validate full membership applications. Two-thirds of those voting must approve full membership applications. If a quorum is not reached, a number of no votes equal to one-third of the House less the number of votes cast shall be added to the number of no votes cast for purposes of calculating whether two thirds voted in favor of the candidate.</li>

    <li>After any term, a full member may choose to become a social member without a vote. This includes seniors who would like to become social members in the term immediately following their graduation.</li>
  </ol>
</div>