<div id="bylawtitle">Mural Resolution</div>
<div id="bylawsubtitle">
  passed by Excomm October 31, 2001<br>
  passed January 5, 2005<br>
  amended January 12, 2020
</div>

<div class="bylawcontent">The purpose of the mural resolution is to first, ensure that the mural has the approval of those it affects most; second, protect existing murals; and third, facilitate the retiring of old murals.</div>

<div class="bylawcontent">
  <ol>
    <li>A mural shall refer to a painting or other artistic expression.</li>
    <li>If the mural is to be in an alley, current members of the alley will be notified and given a chance to provide objections to the mural.</li>
    <li>A mural can be approved by the President or by a simple majority of Excomm.</li>
  </ol>
</div>
