<div id="bylawtitle">On the Position and Duties of the Prime Minister</div>
<div id="bylawsubtitle">
  passed by House June 9, 2024
</div>
<div class="bylawheading">
  1. Appointment and Succession
</div>
<div class="bylawcontent">
  <ol style="list-style-type: lower-alpha">
    <li>The Prime Minister must, at the time of appointment, be a full member of Lloyd House. However, the role is retained regardless of maintained affiliation with Lloyd.</li>
    <li>The Prime Minister (PM) shall be appointed by the incumbent PM before the conclusion of the incumbent’s senior year. If there is no incumbent PM or the incumbent PM fails to appoint a successor, the PM will be appointed by the President of Lloyd House. The successor will take on their role upon the incumbent PM's graduation.</li>
    <li>In the absence of a Prime Minister, the President retains the authority to appoint one at any time.</li>
    <li>The Prime Minister retains their role for life, and cannot lose the appointment at any time.</li>
    <li>There can only be one active PM in Lloyd at any given time, but there may be any number of graduated PMs (who still retain the title of PM).</li>
   </ol>
</div>

<div class="bylawheading">
  2. Obligations and Expectations
</div>
<div class="bylawcontent">
  <ol style="list-style-type: lower-alpha">
    <li>The Prime Minister is conferred the highest status within Lloyd House, yet holds no obligatory duties or expectations in the performance of their role, aside those laid out in Section 3. If the PM holds an Excomm position, then the powers bestowed in the Excomm role take priority over the PM role in the event of a conflict.</li>
    <li>The PM cannot make or act on decisions on behalf of Lloyd House unless otherwise allowed by the President.
      <ol style="list-style-type: lower-roman">
        <li>All decisions made by the PM must be considered equivalent to those proposed by non-members of Excomm.</li>
      </ol>
    </li>
    <li>The PM operates independently from Excomm.</li>
    <li>The PM does not have any guarantee or elevation in roompicks, and picks as a non-member of Excomm.</li>
  </ol>
</div>

<div class="bylawheading">
  3. Powers and Abilities
</div>
<div class="bylawcontent">
  <ol style="list-style-type: lower-alpha">
    <li>The Prime Minister possesses no formal powers within the governance of Lloyd House unless explicitly allowed by the President.</li>
    <li>The Prime Minister may declare war on other houses. Excomm and the rest of the house are in no way bound to act on such declarations.</li>
    <li>During transition periods, the Prime Minister dissolves the prior Excomm and appoints the new Excomm. This is done by default, and requires no acknowledgement from the PM.</li>
    <li>The Prime Minister is not required to offer insights, partake in decision-making processes, or be present at Executive Committee deliberations. They must, however, abide by rules determined by the Executive Committee, equivalent to non-members.</li>
    <li>The Prime Minister is prohibited from initiating elections, influencing electoral outcomes, or performing actions that directly contradict the directives of the Executive Committee.</li>
  </ol>
</div>
