<div id="bylawtitle">Property Resolution</div>
<div id="bylawsubtitle">
  passed by Excomm May 22, 2008
</div>

<div class="bylawcontent">The purpose of the property resolution is to first, 
to define what is Lloyd property; second, to provide guidelines for the use and 
placement of Lloyd property; and third, to establish penalties for failing to 
abide by these rules.</div>

<div class="bylawcontent">
  <ol>
    <li>Lloyd property shall be defined as including, but not limited to:
    <ol style="list-style:lower-latin">
      <li>Items generally residing in Common Areas, which include, but are
      not limited to: Upper and Lower Crotch, Lloyd Library, Lloyd Computer Lab,
      Lloyd Lounge, Lloyd Courtyard, Lloyd Media Shed, Lloyd Tool Sheds, Radio
      Room, and Alley Heads, which have no other specific claims to 
      ownership</li>
      <li>Items purchased or reimbursed using Lloyd House funds</li>
      <li>Items given to Lloyd House</li>
      <li>Items provided by the Caltech Housing Office to Lloyd House</li>
    </ol>
    </li>
    <li>Possession of Lloyd property may be relinquished at any time by a 
    simple majority vote of Excomm.</li>
    <li>Lloyd property may be relocated from common areas to private rooms
    for a cumulative period of greater than two weeks with a simple majority
    vote of Excomm. Revocation of this right to relocation is at the sole
    discretion of Excomm and may occur at any time.</li>
    <li>An inventory of Lloyd property shall be kept and updated as
    necessary by the Superintendent.</li>
    <li>Failing to respect and abide by the rules set forth in this
    resolution shall result in immediate referral to the Conduct Review
    Committee.</li>
  </ol>
</div>