<div id="bylawtitle">
  Roompick Rules
</div>
<div id="bylawsubtitle">
  passed May 6, 1993<br />
  amended April 6, 1994<br />
  amended May 4, 1994<br />
  updated May 2, 1997<br />
  amended January 20, 1998<br />
  amended January 5, 2005<br />
  amended May 21, 2006<br />
  amended January 22, 2010<br />
  amended April 22, 2010<br />
  amended May 8, 2012<br />
  amended February 21, 2013<br />
  amended February 3, 2016<br />
  amended April 20, 2019<br />
  amended February 3, 2020<br />
</div>

<div class="bylawcontent">
  <ol>
    <li>Definitions
      <ol style="list-style-type: lower-alpha">
        <li>Single - A two-person room which is occupied by only one person.</li>
        <li>Declared Single - single, as above, as the result of a previous roompick. Freshmen may not hold declared singles.</li>
        <li>N-Person room - a room designed for exactly N people.</li>
        <li>N-person Off Campus House - an off campus affiliated building with one street address that accomodates N people. This designation will apply only during End-of-Year Roompicks. During middle-of-year roompicks, such a house will be awarded as N-person rooms according to the Housing Office designations. In no case shall the designation of N-person house apply for N greater than 4.</li>
        <li>Class designation - (FR, SO, JR, SR, SS) as defined below:
          <ol style="list-style-type: lower-roman">
            <li>When a student (frosh, transfer or otherwise) becomes a full member, they must obtain a class designation; incoming freshmen will be assigned &quot;frosh&quot; designation, while transfers and returning students must declare their class designation with the Secretary. This class designation will be used in all RoomPicks.</li>
            <li>Each member's class designation will increment [ FR SO JR SR SS ] automatically and only immediately preceding the end-of-year RoomPick.</li>
            <li>Members shall not enter the end-of-year RoomPick with the same class designation more than once, with the exception of extenuating cases of returning members.</li>
          </ol>
        </li>
        <li>Settler - A person who shall inhabit a room or house in the upcoming academic Institute Housing period.</li>
        <li>Squatter - A student who most recently inhabited a room or house.</li>
        <li>Undeclared Single - a single that arises not as the result of a previous roompick but due to one roommate dropping out of the room.</li>
        <li>Member (as used in Roompick Rules only) - a previous full member who will be a full member in the following term. This includes returning students and people who are not currently students but have sufficient confidence from the dean(s) of their return as a student for the following term (see Article I of the Constitution for how these people may reinstate membership).</li>
        <li>Screwed-over - the state of a senior (SR) who has entered roompicks the past two years and not received a room either time.</li>
        <li>{SR-picked, JR-picked, SO-picked} room - a C-picked room is a room picked by a member of class C. A pair (or group) of roommates is free to choose which of them is picking.</li>
      </ol>
    </li>
    <li>Roompick Order
      <ol style="list-style-type: lower-alpha">
        <li>The President of Lloyd House shall have the highest overall roompick.</li>
        <li>SR pick higher than JR who pick higher than SO who pick higher than FR who pick higher than SS.</li>
        <li>Officers pick at the top of their respective classes in the following order: Secretary, Superintendent, Social Director, Treasurer, Athletic Manager, BOC Rep.</li>
        <li>Health Ad, LASR/PA, and Excomm Privileges and Restrictions
          <ol style="list-style-type: lower-roman">
            <li>LASRs whose terms begin at the start of the academic year must live in their respective alleys for the duration of their term. The President, Secretary, and Superintendent must remain on campus or move on-campus at the start of the new academic year. If any of the above move off-campus during the course of their term, they must relinquish their office at that time. Excomm must take appropriate action to fill that vacancy.</li>
            <li>Two health ads, first year PAs, and LASRs are guarenteed spots described in (3.c.i) but do not receive elevated picks
          </ol>
        </li>
        <li>Screwed-over seniors receive elevated picks below BOC reps.</li>
      </ol>
    </li>
    <li>End-of-Year Roompicks
      <ol style="list-style-type: lower-alpha">
        <li>All members entering End-of-Year Roompicks should notify the Secretary by a set deadline and must provide a roommate. If they cannot find one, the Secretary will attempt to match all Members without roommates before the roompick occurs.
          <ol style="list-style-type: lower-roman">
            <li>Rising Juniors and Seniors must be full Members at the beginning of second term to be eligible for End-of-Year Roompicks. </li>
            <li>Members may not enter roompicks for multiple houses or drop out after the Secretary’s deadline.</li>
          </ol>
        </li>
        <li>A "Ranking" list will be posted by the Secretary as early as possible. The ranking will be the reverse of the Caltech Housing Lottery numbers, accounting for 2.a, 2.b, and 2.c, except by a simple majority of Excomm.</li>
        <li>Once the deadline for roompicks closes, the Secretary will compose a "Picks" list of all the roommate pairs receiving a pick into Lloyd, i.e. a list of people equal to the total of non-frosh rooms in Lloyd. This list is created as follows:
          <ol style="list-style-type: lower-roman">
            <li>First placing all members with guaranteed spots in counting the number of rooms going to each class. In the event of mixed class roommates, it is designated as the more senior class. </li>
            <li>Next, the Secretary adds pairs in ranking order from each class until reaching a 40:30:30 ratio of Seniors, Juniors, and Sophomores (rounding up for Seniors and Juniors). Note that in this round, a mixed class roommate pairing can be designated as the lower of the two classes if the higher one does not receive a spot. </li>
            <li>If this does not fill all spots, the Secretary goes back to the top of the pick order and goes down until all pick spots are filled. </li>
            <li>The Secretary will notify the house of the “Picks” list as soon as it is finalized.</li>
          </ol>
        </li>
        <li>Going down the order of the Rankings list, everyone on the Picks list will pick their room. Before each pick, the Secretary will check if the alley has enough rooms remaining for a LASR and frosh rooms. If the alley does not, it becomes locked and no one besides the LASR may pick into that alley.
          <ol style="list-style-type: lower-roman">
            <li>The Secretary will allocate a certain number of frosh rooms to each alley, making it as even as possible. </li>
          </ol>
        </li>
        <li>The Secretary will record an ordered list of the End-of-Year Roompicks. This list will be saved by the Secretary until the end of the ensuing Rotation. The Secretary will also record who entered roompicks for the purposes of determining which future seniors fulfill definition (2.f).</li>
        <li>Following the End-of-Year Roompicks, room swaps may occur at any time, at the request of all participants, without a roompick; with the approval of the Secretary.</li>
        <li>In the case that the on campus Lloyd housing does not fill or for extenuating circumstances, singles will be allocated as seen fit by the Secretary with input from Excomm. </li>
      </ol>
    </li>
    <li>Beginning-of-the-Year Roompicks
      <ol style="list-style-type: lower-alpha">
        <li>All Freshmen picked into the House and all Upperclassmen with &quot;Frosh&quot; roommates are entered into this roompick and must draw a card. No other upperclassman may enter these roompicks except in the case of unanticipated vacancies in Lloyd Housing.</li>
        <li>Procedure
          <ol style="list-style-type: lower-roman">
            <li>The Secretary will compose and post a master list of picking order.</li>
            <li>The Frosh will be paired with roommates before picking occurs to fill all rooms.</li>
          </ol>
        </li>
      </ol>
    </li>
    <li>Summer Roompicks
      <ol style="list-style-type: lower-alpha">
        <li>Rules for Summer roompicks shall be listed in descending priority. If a conflict occurs among summer roompick rules, the Secretary shall make a ruling which is consistent with Institute requirements.</li>
        <li>A pair which consists of at least one settler shall have priority over a pair which consists of at least one squatter, both of which have priority over other pairs or singles.</li>
        <li>Rules for Summer roompicks shall be listed in descending priority. In the event that a conflict occurs among summer roompick rules, the Secretary shall make a ruling which is consistent with Institute requirements.</li>
      </ol>
    </li>
    <li>Other Roompicks
      <ol style="list-style-type: lower-alpha">
        <li>If an undeclared single arises, the Secretary will work with the President to fill the vacancy in a fair manner with the goal of filling the most bed spaces possible. </li>
      </ol>
    </li>
    <li>The Secretary reserves the right to interpret these rules at his/her discretion.</li>
  </ol>
</div>
