<div id="bylawtitle">LASR/PA Selection</div>
<div id="bylawsubtitle">
  passed May 6, 1993 <br>
  amended April 6, 1994<br>
  amended January 5, 2005<br>
  amended May 8, 2012<br>
  amended February 21, 2013<br>
  amended January 12, 2020<br>
  amended February 12, 2023<br>
</div>
<div class="bylawcontent">
  <ol>
    <li>The PA/LASR (Peer Advocate / Lloyd Alley Support Representative) Committee shall consist of Peer Advocates (PAs) and Lloyd Alley Support Representatives (LASRs).</li>
    <li>LASRs responsibilities will be outlined by Excomm before the selection process.</li>
    <li>All first-year PAs will be LASRs.
      <ol style="list-style-type: lower-alpha">
       <li>If two first-year PAs choose to room with each other, they may either choose to jointly be the LASR of the alley, or one of the two will take the role.</li>
      </ol>
    </li>
    <li>An active PA who wishes to be a LASR shall be selected automatically.</li>
    <li>All unfilled LASR positions will be filled by applications by non-PAs. These LASRs shall be appointed by the Executive Committee during the third term before the end-of-year roompicks. Signups shall be made available at least one week. All candidates shall complete a written and/or oral interview, to be reviewed by Excomm.</li>
    <li>The LASRs will take office at the beginning of each school year.</li>
    <li>After the LASRs have been selected, they shall meet, before end-of-the-year roompicks, to choose their alleys. The procedure will be based on pick order of the highest pick of the PA/LASR and their roommate.</li>
    <li>The committee of LASRs and PAs shall select from amongst themselves a Head PA/LASR who will serve as a representative to Excomm and who shall attend Excomm Meetings. In cases where the Head PA/LASR is also a voting member of Excomm, they do not have an additional vote.</li>
    <li>Meetings of the PA/LASR Committee and the RA shall take place regularly.</li>
  </ol>
</div>
