<div id="bylawtitle">LASR/PA Selection</div>
<div id="bylawsubtitle">
  passed May 6, 1993 <br>
  amended April 6, 1994<br>
  amended January 5, 2005<br>
  amended May 8, 2012<br>
  amended February 21, 2013<br>
  amended January 12, 2020<br>
</div>
<div class="bylawcontent">
  <ol>
    <li>The Lloyd Alley Support Representative Committee shall consist of one member per alley (LASR) and additional Peer Advocates (PAs), chosen separately.</li>
    <li>The LASRs shall be appointed by the Executive Committee during the third term before the end-of-year roompicks. Signups shall be made available at least one week. All candidates shall complete a written and/or oral interview, to be reviewed by Excomm.</li>
    <li>LASRs responsibilities will be outlined by Excomm before the selection process.</li>
    <li>An active PA who wishes to be a LASR shall be selected automatically.</li>
    <li>The LASRs will take office at the beginning of each school year.</li>
    <li>After the LASRs have been selected, they shall meet, before end-of-the-year roompicks, to choose their alleys. The procedure will be based on pick order.</li>
    <li>The committee of LASRs and PAs shall select from amongst themselves a Head LASR who will serve as a representative to Excomm and who shall attend Excomm Meetings. They will also have the tie breaking vote. In cases where the Head LASR is also a voting member of Excomm, they do not have an additional vote.</li>
    <li>Meetings of the LASR Committee and the RA shall take place regularly.</li>
    <li>The Lloyd representatives to the Peer Advocate selection committee shall be selected by Excomm.</li>
  </ol>
</div>
