<div id="bylawtitle">LASR/PA Selection</div>
<div id="bylawsubtitle">
  passed May 6, 1993 <br>
  amended April 6, 1994<br>
  amended January 5, 2005<br>
  amended May 8, 2012<br>
  amended February 21, 2013<br>
  amended January 12, 2020<br>
  amended February 12, 2023<br>
</div>
<div class="bylawcontent">
  <ol>
    <li>The PA/LASR (Peer Advocate / Lloyd Alley Support Representative) Committee shall consist of Peer Advocates (PAs) and Lloyd Alley Support Representatives (LASRs).</li>
    <li>LASRs responsibilities will be outlined by Excomm before the selection process.</li>
    <li>All PAs are required to serve as LASRs for their respective alleys. 
      <ol style="list-style-type: lower-alpha">
       <li>If two PAs choose to room with each other, they may either choose to jointly be the LASR of the alley, or one of the two will take the role.</li>
      </ol>
    </li>
    <li>In the event that there are not enough PAs to cover all alleys, all unfilled LASR positions will be filled by applications by non-PAs. These LASRs shall be appointed by the Executive Committee during the third term before the end-of-year roompicks. Signups shall be made available at least one week. All candidates shall complete a written and/or oral interview, to be reviewed by Excomm. Candidates must disclose if they will be absent for any term of the following academic year.</li>
    <li>The LASRs will take office at the beginning of each school year.</li>
    <li>After the LASRs have been selected, they shall meet, before end-of-the-year roompicks, to choose their alleys. The procedure will be based on pick order of the highest pick of the PA/LASR and their roommate.</li>
    <li>The committee of LASRs and PAs shall select from amongst themselves a Head PA/LASR who will serve as a representative to Excomm and who shall attend Excomm Meetings. In cases where the Head PA/LASR is also a voting member of Excomm, they do not have an additional vote.</li>
    <li>Meetings of the PA/LASR Committee and the RA shall take place regularly.</li>
    <li>In the event that a PA/LASR is absent for a term, Excomm shall select a temporary LASR from the existing alley residents to lead the alley and any alley-related events for the term.</li>
  </ol>
</div>
