{%extends "base.html" %}

{% macro render_field(field) %}
  {{ field(size=10, class='form-control', **kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors style="color:red">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% block content %}
	<div class="container">
      <h1>Account Manager</h1>

      <div class="col-md-5">
        <div class="row">
          <h3> Personal Info </h3>
          {% with messages = get_flashed_messages(category_filter=['account']) %}
            {% if messages %}
              <ul>
              {% for message in messages %}
                <li style="color: red;">{{ message }} </li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <div class="form-group">
            <form action="" method="post" name="account">
              {{ account_form.hidden_tag() }}
              Nickname {{render_field(account_form.nickname)}} <br>
              Major {{render_field(account_form.major)}} <br>
              Email {{render_field(account_form.email)}} <br>
              Phone {{render_field(account_form.cellphone)}} <br>
              Birthday {{render_field(account_form.birthday, type="date")}} <br>
              {{render_field(account_form.submit, class="btn btn-default")}}
            </form>
          </div>
        </div>

        <div class="row">
        <h3> Change Password </h3>
          {% with messages = get_flashed_messages(category_filter=['password']) %}
            {% if messages %}
              <ul>
              {% for message in messages %}
                <li style="color: red;">{{ message }} </li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <div class="form-group">
            <form action="" method="post" name="password">
              {{ password_form.hidden_tag() }}
                {{ render_field(password_form.old, placeholder="Old Password") }} <br>
                {{ render_field(password_form.new1, placeholder="New Password") }} <br>
                {{ render_field(password_form.new2, placeholder="New Password") }} <br>
                {{render_field(password_form.submit, class="btn btn-default")}}
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-2"></div>

      <div class="col-md-5">
      <h3> Mailing List Subscriptions </h3>
        {% with messages = get_flashed_messages(category_filter=['email']) %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li style="color: red;">{{ message }} </li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <a style="color:black" href="{{url_for('lloyd.contact')}}"> 
          All the Lloyd mailing lists can be found on the Contact page.
        </a>
        <div class="form-group">
          <form action="" method="post" name="emails">
            {{ email_form.hidden_tag() }}
            <div class="checkbox">
              <label>
                <div id='nomail'> {{ email_form.nomail }} I do not want to be subscribed to any Lloyd mailing lists of any kind whatsoever. </div>
              </label><br><br>
              I do want to be subscribed to Lloyd mailing lists, specifically:
              <div id='otheremailoptions'> {{email_form.mailinglists}} </div>
            </div>
            {{render_field(email_form.submit, class="btn btn-default")}}
          </form>
        </div>
        <script type='text/javascript'>  
          var toggleRadios = function(){
            var options = document.getElementById('otheremailoptions').children[0].children;
            var checked = document.getElementById('nomail').children[0].checked;
            for(i=0;i<options.length;i++){
              options[i].children[0].disabled = checked;
            }
          };
          document.getElementById('email_form-nomail').onchange = toggleRadios;
          toggleRadios();
        </script>
      </div>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
	

{% endblock %}