{%extends "base.html" %}
{% block content %}

        <div id="bylawtitle">Contact/Offices</div>
        <div id="bylawsubtitle">&nbsp;</div>

		<div style="width:800px; margin:0 auto;">

        <!---------- TELEPHONE ---------->

			<div class="contactTitle">
			<h3> Alley phones</h3><br>
			<table border="2" class="contactTable">
			  <tr class="contactHeader"><td>Alley</td><td>Ext.</td></tr>
			  <tr class="contactRow"><td>Lower Crotch</td><td>x1712</td></tr>
			  <tr class="contactRow"><td>Upper Crotch</td><td>x1169</td></tr>
			  <tr class="contactRow"><td>Tropic</td><td>x6180</td></tr>
			  <tr class="contactRow"><td>Valhalla</td><td>x1168</td></tr>
			  <tr class="contactRow"><td>Purple</td><td>x3775</td></tr>
			  <tr class="contactRow"><td>Fingal's</td><td>x1170</td></tr>
			</table>
			</div>


			<!---------- OFFICERS ---------->

			<br>
			<br>
			<div class="contactTitle">
			<h3>Officer emails (at lloyd.caltech.edu)</h3><br>
			<table border="2" class="contactTable">
			  <tr class="contactHeader"><td>Name</td><td>Description</td></tr>
			  <tr class="contactRow"><td>president</td><td>President</td></tr>
			  <tr class="contactRow"><td>secretary</td><td>Secretary</td></tr>
			  <tr class="contactRow"><td>exchequer (for historical reasons)</td><td>Treasurer</td></tr>
			  <tr class="contactRow"><td>super</td><td>Superintendent</td></tr>
			  <tr class="contactRow"><td>sociald</td><td>Social Director</td></tr>
			  <tr class="contactRow"><td>athman</td><td>Athletic Manager</td></tr>
			  <tr class="contactRow"><td>reps</td><td>Reps at Large</td></tr>
			  <tr class="contactRow"><td>excomm</td><td>Group list</td></tr>
			</table>
			</div>



			<!---------- GROUPS ---------->

			<br>
			<br>
			<div class="contactTitle">
			<h3>Group mailing lists (at lloyd.caltech.edu)</h3><br>
			<table border="2" class="contactTable">
			  <tr class="contactHeader"><td>Name</td><td>Group description</td></tr>
			  <tr class="contactRow"><td>all</td><td>Full and social members</td></tr>
			  <tr class="contactRow"><td>full<br>ffreshmen<br>fsophomores<br>fjuniors<br>fseniors</td><td>Full members</td></tr>
			  <tr class="contactRow"><td>social<br>sfreshmen<br>ssophomores<br>sjuniors<br>sseniors</td><td>Social members</td></tr>
			  <tr class="contactRow"><td>alumni<br>alumni-social</td><td>Former full members</td></tr>
			  <tr class="contactRow"><td>ra</td><td>The resident associate</td></tr>
			  <tr class="contactRow"><td>freshmen<br>sophomores<br>juniors<br>seniors</td><td>Full and social members of the appropriate classes</td></tr>
			  <tr class="contactRow"><td>girls<br>freshmen-girls<br>sophomore-girls<br>junior-girls<br>senior-girls</td><td>Female full and social members</td></tr>
			  <tr class="contactRow"><td>guys<br>freshmen-guys<br>sophomore-guys<br>junior-guys<br>senior-guys</td><td>Male full and social members</td></tr>
			  <tr class="contactRow"><td>fingals<br>inferno<br>kaos<br>purple<br>tropic<br>valhalla<br>vi<br>upstairs<br>downstairs</td><td>People living in the appropriate alleys</td></tr>
			  <tr class="contactRow"><td>oc</td><td>Full members not living inside the House</td></tr>
			  <tr class="contactRow"><td>excomm</td><td>The House executive committee</td></tr>
			  <tr class="contactRow"><td>ucc<br>headucc</td><td>The UCCs</td>
			  <tr class="contactRow"><td>healthads</td><td>Health Advocates</td></tr>
			  <tr class="contactRow"><td>waiters</br>headwaiters</td><td>The House Waiters</td>
			  <tr class="contactRow"><td>itsrep</td><td>The ITS rep</td>
			  <tr class="contactRow"><td>socialteam</td><td>The social team</td>
			  <tr class="contactRow"><td>athteam</td><td>The ath team</td>
			</table>
			</div><br><br>

		<div id="pageHeader"><h2> 2018 House Offices:</h2></div>

<!-- Executive Committee -->

<table border="2" class="officeSpace">
  <tr>
    <th colspan="2">Executive Committee</th>
  </tr>
  <tr>
    <td class="officeRow"><b>President</b></td>
    <td class="officeRow">Simon Ricci</td>
  </tr>
  <tr>
    <td class="officeRow"><b>First Lady</b></td>
    <td class="officeRow">Miha Valencic</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Secretary</b></td>
    <td class="officeRow">Sarah Kreider</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Superintendent</b></td>
    <td class="officeRow">Andy Rothstein</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Treasurer</b></td>
    <td class="officeRow">Muhammad Younis</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Social Directors</b></td>
    <td class="officeRow">
      Jessica Wang <br />
      Alex Moraru
    </td>
  </tr>
  <tr>
    <td class="officeRow"><b>Athletic Manager</b></td>
    <td class="officeRow">Ali Boubezari</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Reps at Large</b></td>
    <td class="officeRow">
      Connor ShoeWho<br />
      Sirisha Gudavalli<br />
      Kevin Yu
    </td>
  </tr>
</table>
<br>
<br>



<!-- Excomm's Slaves -->

<!-- ><table class="officeSpace">
  <tr>
    <th colspan="2">Excomm's Minions</th>
  </tr>
  <tr>
    <td class="officeRow"><b>Athletic Team</b></td>
    <td class="officeRow">
      Valere Lambert<br />
    </td>
  </tr>

  <tr>
    <td class="officeRow"><b>Social Team</b></td>
    <td class="officeRow">
      Dominic Yurk<br />
      Sarthak Sahu<br />
      Kate Lewis<br />
      Amarise Little<br />
      Harrison Miller
    </td>
  </tr>

</table> -->



<!-- PAs and Lasrs -->

<table border="2" class="officeSpace">
  <tr>
    <th colspan="2">PAs and Lasrs</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Fingal's Cave</b></td>
    <td class="officeRow">Jessica Sun</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Inferno</b></td>
    <td class="officeRow">Ankush Hommerich-Dutt</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Kaos</b></td>
    <td class="officeRow">Regina Lee (PA)</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Purple</b></td>
    <td class="officeRow">Andy Rothstein</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Tropic</b></td>
    <td class="officeRow">Anirudh Rangaswamy (PA)</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Valhalla</b></td>
    <td class="officeRow">Dominic Catanzaro (PA)</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Virgin Islands</b></td>
    <td class="officeRow">Jessica Wang (head)</td>
  </tr>
  <!--
  <tr>
    <td class="officeRow"><b>Off-Campus</b></td>
    <td class="officeRow"> Kate Lewis <br>
			  Sarthak Sahu <br>
			 </td>
  </tr>
    -->
</table>

<br>
<br>


<!-- Health Ads -->

<table border="2" class="officeSpace">
  <tr>
    <th colspan="2">Not Offices, But Useful Anyway</th>
  </tr>
  <tr>
    <td class="officeRow"><b>Health Ads</b></td>
    <td class="officeRow">
      Jared Livingston <br>
      Hamza Raniwala<br>
      Joseph Min<br>
      Sarah Kreider<br>
      Amy Zhai<br>
  </tr>
  <tr>
    <td class="officeRow"><b>Title IX Advocates</b></td>
    <td class="officeRow">
      Adrianna Crowell <br>
      Amy Zhai <br>
      Brian Lue <br>
      Caroline Paules <br>
      Cece Andrews <br>
      Dessie DiMino <br>
      Jared Livingston <br>
      Jessica Wang <br>
      Jieni Li <br>
      Muhammad Younis <br>
      Muskaan Goyal <br>
      Reeti Gulati <br>
      Sarah Kreider  <br>
  </tr>
</table>

<br>
<br>


<!-- Other House Offices -->

<table border="2" class="officeSpace">
  <tr>
    <th colspan="2">Other House Offices</th>
  </tr>
  <tr>
    <td class="officeRow"><b>High Priestess of Fingal</b></td>
    <td class="officeRow">Alycia Lee</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Supervisor</b></td>
    <td class="officeRow">Anish Thilagar</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Head Waiters</b></td>
    <td class="officeRow">
      Kai Klocke<br>
    </td>
  </tr>
  <tr>
    <td class="officeRow"><b>BOC Reps</b></td>
    <td class="officeRow">
    Matthew Zeitlin<br>
    Jessica Sun<br>
    </td>
  </tr>
  <tr>
    <td class="officeRow"><b>CRC Rep</b></td>
<td class="officeRow">Nivetha Karthikeyan</td>
</tr>
  <tr>
    <td class="officeRow"><b>ARC Rep</b></td>
<td class="officeRow">Sirisha Gudavalli</td>
</tr>

  <tr>
    <td class="officeRow"><b>ReVCom Rep</b></td>
    <td class="officeRow">Amy Zhai</td>
  </tr>
<tr>
<td class="officeRow"><b>IMSS Reps</b></td>
    <td class="officeRow">Nikhil Gupta<br>
    Ali Boubezari<br>
    Sunny Cui<br>
    Alycia Lee</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Historian</b></td>
    <td class="officeRow">Joseph Min</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Movie Directors</b></td>
    <td class="officeRow">Urmi Bhaumik</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Food Rep</b></td>
    <td class="officeRow">Andy Rothstein</td>
  </tr>


</table>


<br>
<br>

<!-- Frosh Offices -->
<a name="froshoffices">
</a>
<table border="2" class="officeSpace">
 <tr>
  <th colspan="2">
   Frosh Offices
  </th>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Pope
   </b>
  </td>
  <td class="officeRow">
   Sabrina Rui
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Anti-Pope
   </b>
  </td>
  <td class="officeRow">
   Jennie Chung
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Gong Frosh
   </b>
  </td>
  <td class="officeRow">
   Michelle Hyun
   <br/>
   Saehui Hwang
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Warlords
   </b>
  </td>
  <td class="officeRow">
   Isaac Perrin
   <br/>
   Emily Du
   <br/>
   Gaurav Phanse
   <br/>
   Malcolm Tisdale
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Lost and Found Frosh
   </b>
  </td>
  <td class="officeRow">
   Jennie Chung
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Bathroom Humor Frosh
   </b>
  </td>
  <td class="officeRow">
   Emily Du
   <br/>
   Lorenzo Van Munoz
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Ath Frosh
   </b>
  </td>
  <td class="officeRow">
   Luka Valencic
   <br/>
   Michelle Hyun
   <br/>
   Niv Kanrar
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Soc Frosh
   </b>
  </td>
  <td class="officeRow">
   Sabrina Rui
   <br/>
   Myra Cheng
   <br/>
   Daniel Peng
   <br/>
   Aaron Feldman
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Massage Frosh
   </b>
  </td>
  <td class="officeRow">
   Gaurav Phanse
   <br/>
   Matthew Gonzalgo

   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Chivalry Frosh
   </b>
  </td>
  <td class="officeRow">
   Emily Du
   <br/>
   Sabrina Rui
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Snapple Fact Frosh
   </b>
  </td>
  <td class="officeRow">
   Cecilia Zhang
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Rant Frosh
   </b>
  </td>
  <td class="officeRow">
   Jennie Chung
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Computer Background Frosh
   </b>
  </td>
  <td class="officeRow">
   Ryan Clark
   <br/>
   Jannie Yu
   <br/>
   Aaron Tran
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Crotch and Lounge Mom
   </b>
  </td>
  <td class="officeRow">
   Matthew Gonzalgo
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Stapler Frosh
   </b>
  </td>
  <td class="officeRow">
   Jake Will
   <br/>
   Natali Lelieur
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Hug Frosh
   </b>
  </td>
  <td class="officeRow">
   Sabrina Rui
   <br/>
   Myra Cheng
   <br/>
   Natali Lelieur
   <br/>
   Matthew Gonzalgo
   <br/>
   Luka Valencic
   <br/>

  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Slow Clap Frosh
   </b>
  </td>
  <td class="officeRow">
   Jasmine Terrones
   <br/>
   Jennifer Sun
   <br/>
   Daniel Peng
   <br/>
   Malcolm Tisdale
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Casey Glick Memorial Frosh
   </b>
  </td>
  <td class="officeRow">
   Myra Cheng
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    t00l Frosh
   </b>
  </td>
  <td class="officeRow">
   Malcolm Tisdale
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Facebook Page Frosh
   </b>
  </td>
  <td class="officeRow">
   Alison Noyes
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Fruit Ninjas
   </b>
  </td>
  <td class="officeRow">
   Isaac Perrin
   <br/>
   Jannie Yu
   <br/>
   Cecilia Zhang
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Captain Planet
   </b>
  </td>
  <td class="officeRow">
   Vincent Tieu (&lt;3)
   <br/>
   Anjini Chandra (fire)
   <br/>
   Kiran Hamkins (earth)
   <br/>
   Yamin Veys (wind)
   <br/>
   Elaine Lin (water)
   <br/>
   Carol Sun (planet)
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Turn in sets Frosh
   </b>
  </td>
  <td class="officeRow">
   Malcolm Tisdale
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Email list SMACKDOWN Frosh
   </b>
  </td>
  <td class="officeRow">
   tall niv
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    White Boy Dance Frosh
   </b>
  </td>
  <td class="officeRow">
   Luka Valencic
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Twerkferno Frosh
   </b>
  </td>
  <td class="officeRow">
   Jennifer Sun
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Hot Chocolate Frosh
   </b>
  </td>
  <td class="officeRow">
   Saehui Hwang
   <br/>
   Sabrina Rui
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Fan Club Frosh
   </b>
  </td>
  <td class="officeRow">
   Emily Du
   <br/>
   Jennie Chung
   <br/>
   Emma Qian
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    High-Five Frosh
   </b>
  </td>
  <td class="officeRow">
   Michelle Hyun
   <br/>
   Jasmine Terrones
   <br/>
   Emily Du
  <br/>
   Andres Gutierrez
   <br/>
   Tim Yao
   <br/>
   Carol Sun
   <br/>
   Kiran Hamkins
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Facemask Frosh
   </b>
  </td>
  <td class="officeRow">
   Saehui Hwang
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Same Frosh
   </b>
  </td>
  <td class="officeRow">
   Nive-same-da Kanrar
   <br/>
   Yas-same Veys
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Bae Area Frosh
   </b>
  </td>
  <td class="officeRow">
   Ryan Clark
   <br/>
   Gaurav Phanse
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Fashion Frosh
   </b>
  </td>
  <td class="officeRow">
   Natali Leliur
   <br/>
   Sabrina Rui
   <br/>
  </td>
 </tr>
 <tr>
  <td class="officeRow">
   <b>
    Whiteboard Frosh
   </b>
  </td>
  <td class="officeRow">
   Sabrina Rui
   <br/>
   Natali Lelieur
   <br/>
  </td>
 <tr>
  <td class="officeRow">
   <b>
    Origami Frosh
   </b>
  </td>
  <td class="officeRow">
   Anjini Chandra
   <br/>
  </td>
 </tr>

 <tr>
  <td class="officeRow">
   <b>
    Baked frosh
   </b>
  </td>
  <td class="officeRow">
    Sabrina Rui
   <br/>
   Myra Cheng
   <br/>
   Emily Du
   <br/>
   Cecilia Zhang
   <br/>
  </td>
 </tr>

 <tr>
  <td class="officeRow">
   <b>
    Smash frosh
   </b>
  </td>
  <td class="officeRow">
   Jasmine Terrones
   <br/>
   Jennifer Sun
   <br/>
   Emily Du
   <br/>
   Sabrina
  </td>
 </tr>

 <tr>
  <td class="officeRow">
   <b>
    Ding Dong Ditch Frosh
   </b>
  </td>
  <td class="officeRow">
   Michelle Hyun
   <br/>
   Jake Will
   <br/>
  </td>
 </tr>

 <tr>
  <td class="officeRow">
   <b>
    The Queen's Frosh
   </b>
  </td>
  <td class="officeRow">
   Malcolm Desai
   <br/>
  </td>
 </tr>

 <tr>
  <td class="officeRow">
   <b>
    Bughouse Frosh
   </b>
  </td>
  <td class="officeRow">
   Michelle Hyun
   <br/>
   Jake Will
   <br/>
   Daniel Peng
   <br/>
  </td>
 </tr>

 <tr>
  <td class="officeRow">
   <b>
    DDR Frosh
   </b>
  </td>
  <td class="officeRow">
   Aaron Tran
   <br/>
  </td>
 </tr>

 <tr>
  <td class="officeRow">
   <b>
    Glowstick Frosh
   </b>
  </td>
  <td class="officeRow">
   Emily Du
   <br/>
   Cecilia Zhang
   <br/>
  </td>
 </tr>

 <tr>
  <td class="officeRow">
   <b>
    Permafrosh
   </b>
  </td>
  <td class="officeRow">
   Ankush Hommerich-Dutt
   <br/>
   Derik Nguyen
   <br/>
   Connor Shoe Who
   <br/>
  </td>
 </tr>
</table>

		</div>


{% endblock %}
