{%extends "base.html" %}
{% block content %}

<div class="container table-responsive" id="houselist">
	<h1>Lloyd Houselist <input class="search" placeholder="search" /> </h1>
	  
	<table align="center" class="table table-bordered table-hover">
		<thead class="thead-inverse">
			<tr>
				<td class="sort" data-sort="year">Year</button></td>
				<td class="sort" data-sort="membership">Membership</button></td>
				<td class="sort" data-sort="firstname"> First Name</button></td>
				<td class="sort" data-sort="nickname">Nickname</button></td>
				<td class="sort" data-sort="lastname"> Last Name</button></td>
				<td class="sort" data-sort="room">Room</button></td>
				<td class="sort" data-sort="major">Major</button></td>
				<td class="sort" data-sort="email">Email</button></td>
				<td class="sort" data-sort="phone">Phone</button></td>
				<td class="sort" data-sort="birthday">Birthday</button></td>
			</tr>	
		</thead>		
		<tbody class="list">
			{% for p in people %}
				<tr>
					<td class="year"> {{p.year}} </td>
					<td class="membership"> {% if p.membership == 'f' %} Full {% else %} Social {% endif %} </td>
					<td class="firstname"> {{p.firstname}} </td>
					<td class="nickname"> {{p.nickname}} </td>
					<td class="lastname"> {{p.lastname}} </td>
					<td class="room"> {{p.address}} </td>
					<td class="major"> {{p.major}} </td>
					<td class="email"> <a href="mailto:{{p.email}}"> {{p.email}}</a> </td>
					<td class="phone"> <a href="tel:+1{{p.cellphone}}"> {{p.cellphone}} </a> </td>
					<td class="birthday"> {{p.birthday}} </td>
				</tr>
			{% endfor %}	
		</tbody>
	</table>
</div>

<script src="http://listjs.com/assets/javascripts/list.min.js"></script>
<script type='text/javascript'> 
	var options = {
		valueNames: ['year', 'membership', 'firstname', 'nickname', 'lastname', 'room', 'major', 'email', 'phone', 'birthday']
	};
	var houselist = new List('houselist', options);
</script>

{% endblock %}