{%extends "base.html" %}
{% block content %}
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">I Llllive and Die</div>
                <div class="intro-heading">For Those I Llllove</div>
                <!-- FOR ROTATION
                <a href="{{ url_for('rotation.rotation_home') }}" class="page-scroll btn btn-xl">Well Shiet</a>
                -->
                
                <!-- FOR PEACETIME -->
                <a href="/contacts.html" class="page-scroll btn btn-xl">Well Shiet</a>
            </div>
        </div>
    </header>


<!--     <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted">happening eventually ya know</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="static/img/caroline.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>first</h4>
                                    <h4 class="subheading">omgggggggggg</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">inventory</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="static/img/shieeet.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>second</h4>
                                    <h4 class="subheading">idk lol</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">im RATTLED</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="static/img/blun.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>third</h4>
                                    <h4 class="subheading">its quite unclear</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">deeeener</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <a href="calendar">
                                <div class="timeline-image">
                                    <h4>If u really
                                        <br> care there's
                                        <br>more shiet</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section> -->

{% endblock %}
