{%extends "base.html" %}
{% block content %}

    <!-- FullCalendar -->
    <link href="{{ url_for('.static', filename='fullcalendar/fullcalendar.css') }}" rel='stylesheet' />
    <link href="{{ url_for('.static', filename='fullcalendar/fullcalendar.print.css') }}" rel='stylesheet' media='print' />
    <!-- <script src="{{ url_for('.static', filename='fullcalendar/lib/jquery.min.js') }}"></script> -->
    <script src="{{ url_for('.static', filename='fullcalendar/lib/moment.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='fullcalendar/fullcalendar.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='fullcalendar/gcal.js') }}"></script>
    <link href="{{ url_for('.static', filename='css/calendar.css')}}" rel="stylesheet">
    <script type='text/javascript'>

        $(document).ready(function() {
        
            $('#calendar').fullCalendar({

                // To create your own Google API key, follow the directions here:
                // http://fullcalendar.io/docs/google_calendar/
                 googleCalendarApiKey: 'AIzaSyA0GLgOv7q7F_k3kvLBIEtH9NQX7vOPtMg', //socd calendar
                // googleCalendarApiKey: 'AIzaSyA0FfmKEBMRmXh_Fuqn9-rA5putIv3Oj1w', //irene's calendar
            
                // US Holidays
                //events: 'en.usa#holiday@group.v.calendar.google.com',
                // substitute with lloyd's own public calendar
                events: '9j2e3n5gbfp0b1btuv0j4hhu7o@group.calendar.google.com', //socd calendar
                // events: 'v9s5qsmgem8eb721863ta6813k@group.calendar.google.com', //irene's calendar
                eventClick: function(event) {
                    // opens events in a popup window
                    window.open(event.url, 'gcalevent', 'width=700,height=600');
                    return false;
                },
                
                loading: function(bool) {
                    $('#loading').toggle(bool);
                }
                
            });
            
        });

    </script>
    <style>

    body {
        margin: 40px 10px;
        padding-top: 100px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    }
    #calendar {
        font-size: 14px;
        max-width: 100%;
        margin: 0 auto;
    }

</style>

    <div id='loading'>loading...</div>
    <div id='calendar'></div>



{% endblock %}
