{%extends "base.html" %}
{% block content %}

    <link href="{{ url_for('.static', filename='css/calendar.css')}}" rel="stylesheet">

    <div id="bylawtitle">UPCOMING EVENTS</div>

		<div id="calendarContent">

      <!-- <div id="month-title">September</div> -->

      <div class="calendar-item">
        <div class="calendar-image">
          <img src="static/img/calendar/sep_27.png">
        </div>
      </div>

      <div class="calendar-item">
        <div class="calendar-image">
          <img src="static/img/calendar/sep_28.png">
        </div>
      </div>

      <div class="calendar-item">
        <div class="calendar-image">
          <img src="static/img/calendar/sep_30.png">
        </div>
      </div>

      <!-- <div id="month-title">October</div> -->

      <div class="calendar-item">
        <div class="calendar-image">
          <img src="static/img/calendar/oct_5.png">
        </div>
      </div>

      <div class="calendar-item">
        <div class="calendar-image">
          <img src="static/img/calendar/oct_12.png">
        </div>
      </div>

      <div class="calendar-item">
        <div class="calendar-image">
          <img src="static/img/calendar/oct_20.png">
        </div>
      </div>

      <div class="calendar-item">
        <div class="calendar-image">
          <img src="static/img/calendar/oct_26.png">
        </div>
      </div>

      <!-- <div id="month-title">November</div> -->

      <div class="calendar-item">
        <div class="calendar-image">
          <img src="static/img/calendar/nov_8.png">
        </div>
      </div>

      <div class="calendar-item">
        <div class="calendar-image">
          <img src="static/img/calendar/nov_15.png">
        </div>
      </div>

      <div class="calendar-item">
        <div class="calendar-image">
          <img src="static/img/calendar/nov_17.png">
        </div>
      </div>

      <div class="calendar-item">
        <div class="calendar-image">
          <img src="static/img/calendar/nov_25.png">
        </div>
      </div>

      <!-- <div id="month-title">December</div> -->

      <div class="calendar-item">
        <div class="calendar-image">
          <img src="static/img/calendar/dec_7.png">
        </div>
      </div>
    </div>

{% endblock %}
