{%extends "base.html" %}

{% macro render_field(field) %}
  {{ field(size=10, class='form-control', **kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors style="color:red">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% block content %}
	<div class="container">
      <div class="col-md-6  col-md-offset-3">
        <h1>Welcome to Lloyd!</h1>
          <p>Submit this form to let us know that you participated in the most recent free dinner!</p>
  
          <div class="form-group">
            <form action="" method="post" name="account">
              {{ checkin_form.hidden_tag() }}
              Name {{render_field(checkin_form.name)}} <br>
              Email {{render_field(checkin_form.email)}} <br>
              {{render_field(checkin_form.submit, class="btn btn-default")}}
            </form>
          </div>
        

          {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p style="color: white; font-size:14px;">{{ message }} </p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        </div>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
	

{% endblock %}