{%extends "base.html" %}

{% macro render_field(field) %}
  {{ field(size=10, class='form-control', **kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors style="color:red">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% block content %}
<script src="{{ url_for('.static', filename='js/bootstrap3-typeahead.min.js')}}"></script>

	<div class="container">
      <div class="col-md-6  col-md-offset-3">
        <h1>Welcome to Lloyd!</h1>
          <p>Submit this form to let us know that you participated in the most recent dessert night!</p>
  
          <div class="form-group">
            <form action="{{ url_for('lloyd.checkin')}}" method="post">
              <input name="name" id="typeahead-input" type="text" data-provide="typeahead" placeholder="Enter your name"/>
              <input type="submit">
            </form>
          </div>

          {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p style="color: white; font-size:14px;">{{ message }} </p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        </div>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>

<script type="text/javascript">
var $input = $("#typeahead-input");
$input.typeahead({
  source: [
{% for item in all_prefrosh %}
    { id: {{item['id']}}, name: {{item['name']|safe}} },
{% endfor %}
  ],
  autoSelect: true
});

</script>
{% endblock %}
