{%extends "base.html" %}
{% block content %}


<link href="{{ url_for('.static', filename='css/contact.css')}}" rel="stylesheet">

        <div id="pageHeader"><h2>House Offices:</h2></div>

<!-- Executive Committee -->


<div id="resourcesContent">

  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/isabellaprez.jpeg">
    </div class="resources-image">
    <h4 class="name">Isabella</h4>
    <h4 class="name">Pagano</h4>
    <p class="role">President</p>
  </div>
  
  
  <div class="resources-item">
    <div class="resources-image">
      <!-- <img src='LibraryTransparent.png' onmouseover="this.src='LibraryHoverTrans.png';" onmouseout="this.src='LibraryTransparent.png';" /> -->
      <img id="jasmine" src="static/img/excomm/jasmine.jpg" onmouseover="this.src='static/img/excomm/rat.jpg';" onmouseout="this.src='static/img/excomm/jasmine.jpg';">
    </div class="resources-image">
    <h4 class="name">Jasmine</h4>
    <h4 class="name">Wang</h4>
    <p class="role">Secretary</p>
  </div>
  
  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/nikhita.jpeg">
    </div class="resources-image">
    <h4 class="name">Nikhita</h4>
    <h4 class="name">Penugonda</h4>
    <p class="role">Superintendent</p>
  </div>
  
  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/jamesli.jpeg">
    </div class="resources-image">
    <h4 class="name">James</h4>
    <h4 class="name">Li</h4>
    <p class="role">Treasurer</p>
  </div>
  
  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/shan.jpg">
    </div class="resources-image">
    <h4 class="name">Shan</h4>
    <h4 class="name">Gupta</h4>
    <p class="role">Social Director</p>
  </div>
  
  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/arya.jpeg">
    </div class="resources-image">
    <h4 class="name">Arya</h4>
    <h4 class="name">Khokhar</h4>
    <p class="role">Social Director</p>
  </div>

  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/stepheng.jpeg">
    </div class="resources-image">
    <h4 class="name">Stephen</h4>
    <h4 class="name">Goehringer</h4>
    <p class="role">Athletic Manager</p>
  </div>

  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/maxbraith.jpeg">
    </div class="resources-image">
    <h4 class="name">Max</h4>
    <h4 class="name">Braithwaite</h4>
    <p class="role">Rep at Large</p>
  </div>

  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/carmen.jpeg">
    </div class="resources-image">
    <h4 class="name">Carmen</h4>
    <h4 class="name">Quinones</h4>
    <p class="role">Rep at Large</p>
  </div>

  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/andrewoldag.jpeg">
    </div class="resources-image">
    <h4 class="name">Andrew</h4>
    <h4 class="name">Oldag</h4>
    <p class="role">Social Liaison</p>
  </div>

  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/jennyz.jpeg">
    </div class="resources-image">
    <h4 class="name">Jenny</h4>
    <h4 class="name">Zhang</h4>
    <p class="role">Social Liaison</p>
  </div>        
</div>


<div id="pageHeader"><h2>Lloyd Alley Support Reps (LASRs) <br> + Peer Advocates (PAs):</h2></div>


<div id="resourcesContent">
  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/jenni.jpg">
    </div class="resources-image">
    <h4 class="name">Jenni</h4>
    <h4 class="name">Solgaard</h4>
    <p class="role">Head PA + Kaos LASR</p>
  </div>
  
  
  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/bharathan.jpg">
    </div class="resources-image">
    <h4 class="name">Bharathan</h4>
    <h4 class="name">Sundar</h4>
    <p class="role">Purple LASR</p>
  </div>
  
  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/ama.jpg">
    </div class="resources-image">
    <h4 class="name">Ama</h4>
    <h4 class="name">Obeng</h4>
    <p class="role">Fingals LASR</p>
  </div>
  
  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/sagan.jpg">
    </div class="resources-image">
    <h4 class="name">Sagan</h4>
    <h4 class="name">Russ</h4>
    <p class="role">Vi LASR</p>
  </div>
  
  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/jonah.jpg">
    </div class="resources-image">
    <h4 class="name">Jonah</h4>
    <h4 class="name">Yoshida</h4>
    <p class="role">Tropic LASR</p>
  </div>
  
  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/ana.jpg">
    </div class="resources-image">
    <h4 class="name">Ana</h4>
    <h4 class="name">Jaramillo</h4>
    <p class="role">Inferno LASR</p>
  </div>

  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/karen.jpg">
    </div class="resources-image">
    <h4 class="name">Karen</h4>
    <h4 class="name">Zhou</h4>
    <p class="role">Valhalla LASR</p>
  </div>

  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/emma.jpg">
    </div class="resources-image">
    <h4 class="name">Emma</h4>
    <h4 class="name">Olinger</h4>
    <p class="role">PA</p>
  </div>

  <div class="resources-item">
    <div class="resources-image">
      <img src="static/img/excomm/armeet.jpg">
    </div class="resources-image">
    <h4 class="name">Armeet</h4>
    <h4 class="name">Jatyani</h4>
    <p class="role">PA</p>
  </div>
</div>

<div style="width:800px; margin:0 auto;">


<div id="pageHeader"><h3> ADDITIONAL ROLES:</h3></div>

<!-- Health Ads -->

<table border="2" class="officeSpace styled-table table">
  <thead>
    <tr>
      <td colspan="2">House Advocates</td>
    </tr>
  </thead>
        
  <tbody>
    <tr>
      <td class="officeRow"><b>Peer Advocates</b></td>
      <td class="officeRow">
        Jenni Solgaard<br>
        Bharathan Sundar<br>
        Emma Olinger<br>
        Armeet Jatyani <br>
        Sagan Russ <br>
    </tr>      
  <tr>
    <td class="officeRow"><b>Health Ads</b></td>
    <td class="officeRow">
            Thando Nkala <br>
            Mabel Lu <br>
            Sulekha Kishore <br>
            Caden Mikkelson <br>
            Saumya Chauhan <br>
            Jasmine Wang <br>
            Jena Alsup <br>
            Emma Olinger <br>
            Claire Hays <br>
            Cece Abramson <br>
    </td>   
  </tr>
  <tr>
    <td class="officeRow"><b>Title IX Advocates</b></td>
    <td class="officeRow">
      Ama Obeng<br>
      Juni Polansky<br>
      Lana Lubecke<br>
    </td> 
  </tr>  
</tbody>
        
</table>

<br>
<br>

<!-- Other House Offices -->

<table border="2" class="officeSpace styled-table table">
  <thead>
    <tr>
      <td colspan="2">House Reps</td>
    </tr>
  </thead>

  <tr>
    <td class="officeTitle">BOC Reps</td>
    <td class="officeRow">Derek Days<br>Emily Yu<br>Jasmine Wang</td>
  </tr>

  <tr>
    <td class="officeTitle">CRC Rep</td>
    <td class="officeRow">Carmen Quinones</td>
  </tr>

  <tr>
    <td class="officeTitle">ARC Rep</td>
    <td class="officeRow">Shan Gupta</td>
  </tr>

  <tr>
    <td class="officeTitle">Revcomm Rep</td>
    <td class="officeRow">Jasmine Wang</td>
  </tr>
  <tr>
    <td class="officeTitle">Food Rep</td>
    <td class="officeRow">Stephen Goehringer</td>
  </tr>
  <tr>
    <td class="officeTitle">Adcomm Rep</td>
    <td class="officeRow">Nikhita Penugonda</td>
  </tr>

</table>

<!---------- OFFICERS ---------->

<br>
<br>
<div class="contactTitle">
  <h3>Emails (at lloyd.caltech.edu)</h3><br>
  <table class="styled-table table">
    <thead>
      <tr   >
        <td colspan="2">Officer Emails</td>
      </tr>
    </thead>
    <tbody>
      <tr class="contactRow"><td>president</td><td>President</td></tr>
      <tr class="contactRow"><td>secretary</td><td>Secretary</td></tr>
      <tr class="contactRow"><td>exchequer (for historical reasons)</td><td>Treasurer</td></tr>
      <tr class="contactRow"><td>super</td><td>Superintendent</td></tr>
      <tr class="contactRow"><td>sociald</td><td>Social Director</td></tr>
      <tr class="contactRow"><td>athman</td><td>Athletic Manager</td></tr>
      <tr class="contactRow"><td>reps</td><td>Reps at Large</td></tr>
      <tr class="contactRow"><td>excomm</td><td>Group list</td></tr>
    </tbody>
  </table>
</div>



  <!---------- GROUPS ---------->

  <br>
  <div class="contactTitle">
  <h3></h3><br>
  <table border="2" class="styled-table table table-hover ">
    <thead>
      <tr>
        <td colspan="2">Group mailing lists</td>
      </tr>
    </thead>
    <tr class="contactRow"><td>all</td><td>Full and social members</td></tr>
    <tr class="contactRow"><td>full<br>ffreshmen<br>fsophomores<br>fjuniors<br>fseniors</td><td>Full members</td></tr>
    <tr class="contactRow"><td>social<br>sfreshmen<br>ssophomores<br>sjuniors<br>sseniors</td><td>Social members</td></tr>
    <tr class="contactRow"><td>ra</td><td>The resident associate</td></tr>
    <tr class="contactRow"><td>alumni</td><td>Former full members</td></tr>
    <tr class="contactRow"><td>freshmen<br>sophomores<br>juniors<br>seniors</td><td>Full and social members of the appropriate classes</td></tr>
    
    <tr class="contactRow"><td>headpa</td><td>Head PA/LASR</td></tr>
    <tr class="contactRow"><td>lasrs</td><td>Lloyd Alley Support Reps</td></tr>
    <tr class="contactRow"><td>pas</td><td>Peer Advocates</td></tr>
    <!--
    <tr class="contactRow"><td>girls<br>freshmen-girls<br>sophomore-girls<br>junior-girls<br>senior-girls</td><td>Female full and social members</td></tr>
    <tr class="contactRow"><td>guys<br>freshmen-guys<br>sophomore-guys<br>junior-guys<br>senior-guys</td><td>Male full and social members</td></tr>
    
    <tr class="contactRow"><td>fingals<br>inferno<br>kaos<br>purple<br>tropic<br>valhalla<br>vi<br>upstairs<br>downstairs</td><td>People living in the appropriate alleys</td></tr>
    <tr class="contactRow"><td>living</td><td>Full members living inside the House</td></tr> 
    <tr class="contactRow"><td>oc</td><td>Full members not living inside the House</td></tr> 
    <tr class="contactRow"><td>excomm</td><td>The House executive committee</td></tr>
    <tr class="contactRow"><td>healthads</td><td>Health Advocates</td></tr>
    <tr class="contactRow"><td>titleixads</td><td>Title IX Advocates</td></tr>
    <tr class="contactRow"><td>waiters</br>headwaiters</td><td>House Waiters</td>
    <tr class="contactRow"><td>imssreps</td><td>IMSS reps</td>-->
    <!-- <tr class="contactRow"><td>socialteam</td><td>The social team</td>
    <tr class="contactRow"><td>athteam</td><td>The ath team</td> -->
  </table>
  </div><br><br>

<br>
<br>

<div id="pageHeader"><h3> FROSH JOBS: </h3></div>

<table border="2" class="officeSpace styled-table table">
  <thead>
    <tr>
      <td colspan="2">Freshman Jobs:</td>
    </tr>
  </thead>
        
  <tbody>
    <tr>
      <td class="officeRow">Pope</td>
      <td class="officeRow">Andrew Oldag</td>      
      </tr>
    <tr>
      <td class="officeRow">Anti-Pope</td>
      <td class="officeRow">Medha Ravi</td>   
    </tr>
    <tr>
      <td class="officeRow">Gong/Mallet Frosh</td>
      <td class="officeRow">Jonathan Barata <br> Max Braithwaite</td>      
    </tr>
    <tr>
      <td class="officeRow">Ath Frosh</td>
      <td class="officeRow">Abdullahi Adeboye</td>      
      </tr>
    <tr>
      <td class="officeRow">Soc Frosh</td>
      <td class="officeRow">Priyanka Balaji <br> Carmen Quinones <br> Kate Mygushchenko <br> Kai Maciaszek <br> Andrea Li</td>
      </tr>
    <tr>
      <td class="officeRow">Trip Frosh</td>
      <td class="officeRow">Priyanka Balaji <br> Carmet Quinones <br> Kate Mygushchenko</td>      
      </tr>
    <tr>
      <td class="officeRow">Chivalry Frosh</td>
      <td class="officeRow">Jenny Zhang</td>      
      </tr>
    <tr>
      <td class="officeRow">Snapple Fact Frosh</td>
      <td class="officeRow">Anamaria Robertson</td>      
      </tr>
    <tr>
      <td class="officeRow">Rant Frosh</td>
      <td class="officeRow">Elizabeth Ma</td>      
      </tr>
    <tr>
      <td class="officeRow">Jello Frosh</td>
      <td class="officeRow">Dami Kim</td>      
      </tr>
    <tr>
      <td class="officeRow">Cone Frosh</td>
      <td class="officeRow">Kai Maciaszek <br> Quinn Hartman</td>      
      </tr>
    <tr>
      <td class="officeRow">Quesadilla Frosh</td>
      <td class="officeRow">Medha Ravi <br> Carolyn Ruan</td>      
      </tr>
    <tr>
      <td class="officeRow">Dev Frosh</td>
      <td class="officeRow">Andrea Li <br> Carolyn Ruan</td>     
      </tr>
    <tr>
      <td class="officeRow">Merch Design Frosh</td>
      <td class="officeRow">Jonathan Barata <br> Dami Kim <br> Nikhita Penugonda <br> Kate Mygushchenko <br> Carmen Quinones</td>      
      </tr>
    <tr>
      <td class="officeRow">Crotch and Llounge Mom</td>
      <td class="officeRow">Sophie Mobley <br> Priyanka Balaji</td>     
      </tr>
    <tr>
      <td class="officeRow">Shed Frosh</td>
      <td class="officeRow">Medha Ravi</td>     
      </tr>
    <tr>
      <td class="officeRow">Hug Frosh</td>
      <td class="officeRow">Medha Ravi <br> Priyanka Balaji</td>     
      </tr>
    <tr>
      <td class="officeRow">High Five Frosh</td>
      <td class="officeRow">Max Braithwaite</td>     
      </tr>
    <tr>
      <td class="officeRow">Tool Frosh</td>
      <td class="officeRow">Andrew Oldag</td>     
      </tr>
    <tr>
      <td class="officeRow">Stapler Frosh</td>
      <td class="officeRow">Philip-David Medows</td>     
      </tr>
    <tr>
      <td class="officeRow">Captain Planet</td>
      <td class="officeRow">Fire: Andrea <br> Water: Kate <br> Earth: Anamaria <br> Peace: Carmen <br> Love: Medha <br> Planet: Nikhita <br> Air: Andrew</td>     
    </tr>
    <tr>
      <td class="officeRow">Email List Smackdown Frosh</td>
      <td class="officeRow">Philip-David Medows</td>     
    </tr>
    <tr>
      <td class="officeRow">White Boy Dance Frosh</td>
      <td class="officeRow">Dami Kim</td>     
    </tr>
    <tr>
      <td class="officeRow">Hot Chocolate Frosh</td>
      <td class="officeRow">Jenny Zhang</td>     
    </tr>
    <tr>
      <td class="officeRow">Fan Club Frosh</td>
      <td class="officeRow">Dami Kim <br> Jenny Zhang <br> Max Braithwaite</td>     
    </tr>
    <tr>
      <td class="officeRow">Bae Area Frosh</td>
      <td class="officeRow">Medha Ravi <br> Anamaria Robertson <br> Carolyn Ruan <br> Priyanka Balaji</td>     
    </tr>
    <tr>
      <td class="officeRow">Smash Frosh</td>
      <td class="officeRow">Philip-David Medows</td>     
    </tr>
    <tr>
      <td class="officeRow">Ding Dong Ditch Frosh</td>
      <td class="officeRow">Medha Ravi <br> Carolyn Ruan</td>     
    </tr>
    <tr>
      <td class="officeRow">Landlord Frosh</td>
      <td class="officeRow">Kate Mygushchenko <br> Kate Quinones</td>
    </tr>
    <tr>
      <td class="officeRow">Landlord Lord Frosh</td>
      <td class="officeRow">Medha Ravi <br> Anamaria Robertson</td>     
    </tr>
    <tr>
      <td class="officeRow">Bughouse Frosh</td>
      <td class="officeRow">Medha Ravi</td>     
    </tr>
    <tr>
      <td class="officeRow">Banana Wednesday Frosh</td>
      <td class="officeRow">Sophie Mobley</td>     
    </tr>
    <tr>
      <td class="officeRow">Day Trading Frosh</td>
      <td class="officeRow">Philip-David Medows</td>     
    </tr>
    <tr>
      <td class="officeRow">Bookie Frosh</td>
      <td class="officeRow">Andrew Oldag <br> Peter Powell <br> Philip-David Medows</td>     
    </tr>
    <tr>
      <td class="officeRow">Couch Frosh</td>
      <td class="officeRow">Arhum Jain</td>     
    </tr>
    <tr>
      <td class="officeRow">Whiteboard Frosh</td>
      <td class="officeRow">Carolyn Ruan</td>     
    </tr>
    <tr>
      <td class="officeRow">Warlord Frosh</td>
      <td class="officeRow">Nikhita Penugonda <br> Kate Mygushchenko <br> Carmen Quinones <br> Andrea Li <br> Jonathan Barata <br> Peter Powell </td>     
    </tr>
    <tr>
      <td class="officeRow">Permafrosh Frosh</td>
      <td class="officeRow">Jonah Yoshida <br> Trent Cobos <br> Shan Gupta</td>     
    </tr>

</tbody>
        
</table>

</div>

{% endblock %}
