{%extends "base.html" %}
{% block content %}

        <div id="bylawtitle">Contact/Offices</div>
        <div id="bylawsubtitle">&nbsp;</div>

        <div style="width:800px; margin:0 auto;">


        <div id="pageHeader"><h2> 2022 House Offices:</h2></div>

<!-- Executive Committee -->

<table border="2" class="officeSpace">
  <tr>
    <th colspan="2">Executive Committee</th>
  </tr>
  <tr>
    <td class="officeRow"><b>President</b></td>
    <td class="officeRow">Leo Williams</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Secretary</b></td>
    <td class="officeRow">Pranav Patil</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Superintendent</b></td>
    <td class="officeRow">Isabella Zuniga</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Treasurer</b></td>
    <td class="officeRow">Thando Nkala</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Social Directors</b></td>
    <td class="officeRow">Nisha Balaji<br/> Jenni Solgaard
    </td>
  </tr>
  <tr>
    <td class="officeRow"><b>Athletic Manager</b></td>
    <td class="officeRow">Bryan Oliveira</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Reps at Large</b></td>
    <td class="officeRow"> Kaushal Shyamsundar <br/> Ama Obeng
    </td>
  </tr>
</table>
<br>
<br>



<!-- Excomm's Slaves -->

<!-- >
  <table class="officeSpace">
  <tr>
    <th colspan="2">Excomm's Minions</th>
  </tr>
  <tr>
    <td class="officeRow"><b>Athletic Team</b></td>
    <td class="officeRow"> ??? </td>
  </tr>

  <tr>
    <td class="officeRow"><b>Social Team</b></td>
    <td class="officeRow"> ??? </td>
  </tr>
</table> -->



<!-- PAs and Lasrs -->




<table border="2" class="officeSpace">
  <tr>
    <th colspan="2">Lloyd Alley Support Reps (LASRs)</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Fingal's Cave</b></td>
    <td class="officeRow">Amelia Whitworth</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Inferno</b></td>
    <td class="officeRow">Leo Williams</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Kaos</b></td>
    <td class="officeRow">Kimia Hassibi</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Purple</b></td>
    <td class="officeRow">Matticus Brown</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Tropic</b></td>
    <td class="officeRow">Nisha Balaji</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Valhalla</b></td>
    <td class="officeRow">Hope Arnett</td>
  </tr>
  <tr>
    <td class="officeRow"><b>Virgin Islands</b></td>
    <td class="officeRow">Katherine Chang</td>
  </tr>
  <!--
  <tr>
    <td class="officeRow"><b>Off-Campus</b></td>
    <td class="officeRow"> </td>
  </tr>
  -->
</table>

<br>
<br>


<!-- Health Ads -->

<table border="2" class="officeSpace">
  <tr>
    <th colspan="2">Not Offices, But Useful Anyway</th>
  </tr>
        
  <tr>
    <td class="officeTitle">Peer Ads</td>
    <td class="officeRow">
      Amelia Whitworth (Head PA/LASR)<br>
      Bea Avila-Rimer<br>
      Kevin Gauld<br>
      Jenni Solgaard<br>
      Bharathan Sundar</td>
      Sujai Hiremath<br>
      Kavya Rajagopalan<br>
  </tr>        
        
  <tr>
    <td class="officeRow"><b>Health Ads</b></td>
    <td class="officeRow">
            Katelyn Lee <br>
            Maggie Sui <br>
            Katherine Pan <br>
            Prashanth Mohan <br>     
            Claire Zhang <br>
    </td>   
  </tr>
  <tr>
    <td class="officeRow"><b>Title IX Advocates</b></td>
    <td class="officeRow">
      Katherine Chang<br>
      Bea Avila-Rimer<br>
    </td>   
  </tr>
        
</table>

<br>
<br>


<!-- Other House Offices -->

<table border="2" class="officeSpace">
  <tr>
    <th colspan="2">Other House Offices</th>
  </tr>

  <tr>
    <td class="officeTitle"><b>First Lady</b></td>
    <td class="officeRow">Jay Dong</td>
  </tr>

  <tr>
    <td class="officeTitle">High Priestess of Fingal</td>
    <td class="officeRow">Amelia Whitworth</td>
  </tr>

  <tr>
    <td class="officeTitle">Grim Reapers</td>
    <td class="officeRow">Bryan Wang<br/>Eric Paul</td>
  </tr>

        <!--
        
  <tr>
    <td class="officeTitle">Supervisor</td>
    <td class="officeRow">???</td>
  </tr>
-->
        
  <tr>
    <td class="officeTitle">Head Waiter</td>
    <td class="officeRow">Amy Guo</td>
  </tr>

  <tr>
    <td class="officeTitle">Assistant Head Waiter</td>
    <td class="officeRow">Nisha Balaji</td>
  </tr>

  <tr>
    <td class="officeTitle">Senior Citizen</td>
    <td class="officeRow">Diego Chavez</td>
  </tr>

  <tr>
    <td class="officeTitle">BOC Reps</td>
    <td class="officeRow">Bryan Wang<br>Sulekha Kishore</td>
  </tr>

  <tr>
    <td class="officeTitle">CRC Rep</td>
    <td class="officeRow">Isabella Pagano</td>
  </tr>

  <tr>
    <td class="officeTitle">ARC Rep</td>
    <td class="officeRow">Catherine Deng</td>
  </tr>

  <tr>
    <td class="officeTitle">Revcomm Rep</td>
    <td class="officeRow">Pranav Patil</td>
  </tr>
  <tr>
    <td class="officeTitle">Food Rep</td>
    <td class="officeRow">Jasmine Wang</td>
  </tr>
  <tr>
    <td class="officeTitle">Adcomm (DEI) Rep</td>
    <td class="officeRow">Claire Hays</td>
  </tr>

  <tr>
    <td class="officeTitle">IMSS Reps</td>
    <td class="officeRow">Halle Holzbauer<br/>Caden Mikkelsen<br/>Nisha Balaji<br/>Isabella Zuniga<br/>Eric Amaro<br/>Sulekha Kishore</td>
  </tr>
<!--
  <tr>
    <td class="officeTitle">Historian</td>
    <td class="officeRow">Sulekha Kishore <br></td>
  </tr>
-->
</table>

<br>
<br>


<!-- Frosh Offices -->
<a name="froshoffices"></a>
<table border="2" class="officeSpace">
 <tr> <th colspan="2"> Frosh Offices </th> </tr>
 <tr>
  <td class="officeTitle"> Pope </td>
  <td class="officeRow"> Sub Sahoo </td>
 </tr>

 <tr>
  <td class="officeTitle"> Anti-Pope </td>
  <td class="officeRow"> Bryan Oliveira </td>
 </tr>

 <tr>
  <td class="officeTitle">Gong/Mallet Frosh</td>
  <td class="officeRow">Emma Olinger<br/>Jasmine Wang</td>
 </tr>

 <tr>
  <td class="officeTitle">Warlords</td>
  <td class="officeRow">Camilo Garrido<br/>Andrew Zabelo<br/>Isabella Pagano<br/>Claire Hays</td>
 </tr>

 <tr>
  <td class="officeTitle">Ath Frosh</td>
  <td class="officeRow">Sub Sahoo<br/>Andrew Zabelo<br/>Bryan Oliveira</td>
 </tr>

 <tr>
  <td class="officeTitle">Soc Frosh</td>
  <td class="officeRow">Claire Hays<br/>Sub Sahoo<br/>Jasmine Wang</td>
 </tr>

 <tr>
  <td class="officeTitle">Trip Frosh</td>
  <td class="officeRow">Camilo Garrido</td>
 </tr>

 <tr>
  <td class="officeTitle">Dev Frosh</td>
  <td class="officeRow">Bryan Oliveira<br/>Evelyn Huerta<br/>Armeet Jatyani</td>
 </tr>

 <tr>
  <td class="officeTitle">LN2 Frosh</td>
  <td class="officeRow">Claire Hays<br/>Isabella Pagano<br/>Kevin Cai</td>
 </tr>

 <tr>
  <td class="officeTitle">Chivalry Frosh</td>
  <td class="officeRow">Jasmine Wang <br/> Sub Sahoo</td>
 </tr>

 <tr>
  <td class="officeTitle">Snapple Fact Frosh</td>
  <td class="officeRow">Sub Sahoo</td>
 </tr>

 <tr>
  <td class="officeTitle">Rant Frosh</td>
  <td class="officeRow">Andrew Zabelo</td>
 </tr>

 <tr>
  <td class="officeTitle">Email List Smackdown Frosh</td>
  <td class="officeRow">Armeet Jatyani</td>
 </tr>

 <tr>
  <td class="officeTitle">Crotch and Lounge Mom</td>
  <td class="officeRow">Claire Hays</td>
 </tr>

 <tr>
  <td class="officeTitle">Stapler Frosh</td>
  <td class="officeRow">Emma Olinger</td>
 </tr>

 <tr>
  <td class="officeTitle">Clover Frosh</td>
  <td class="officeRow">Isabella Pagano</td>
 </tr>

 <tr>
  <td class="officeTitle">Dirt Frosh</td>
  <td class="officeRow">Armeet Jatyani</td>
 </tr>

 <tr>
  <td class="officeTitle">Jello Frosh</td>
  <td class="officeRow">Hana Hisamune<br/>Ashug Gurijala<br/>Ama Obeng<br/>Evelyn Huerta<br/>Jake Wolmer</td>
 </tr>

 <tr>
  <td class="officeTitle">Banana Wednesday Frosh</td>
  <td class="officeRow">Jasmine Wang</td>
 </tr>

 <tr>
  <td class="officeTitle">Quesadilla Frosh</td>
  <td class="officeRow">Camilo Garrido</td>
 </tr>

 <tr>
  <td class="officeTitle">Hot Chocolate Frosh</td>
  <td class="officeRow">Emma Olinger</td>
 </tr>

 <tr>
  <td class="officeTitle">Fruit Ninjas</td>
  <td class="officeRow">Ama Obeng<br/>Faiza Shabibi</td>
 </tr>

 <tr>
  <td class="officeTitle">Cone Frosh</td>
  <td class="officeRow">Anna Szczuka</td>
 </tr>

 <tr>
  <td class="officeTitle">Hug Frosh</td>
  <td class="officeRow">Jena Alsup<br/>Andrew Zabelo<br/>Sub Sahoo<br/>Armeet Jatyani<br/>Bryan Oliveira<br/>Faiza Shabibi<br/>Mahi Ravi<br/>Kevin Cai</td>
 </tr> 

 <tr>
  <td class="officeTitle">High-Five Frosh</td>
  <td class="officeRow">James Li<br/>Ama Obeng<br/>Sub Sahoo<br/>Emma Olinger<br/>Jake Wolmer<br/>Trent Cobos</td>
 </tr> 

 <tr>
  <td class="officeTitle">Hong Frosh</td>
  <td class="officeRow">Ashug Gurijala</td>
 </tr>

 <tr>
  <td class="officeTitle">Tool Frosh</td>
  <td class="officeRow">Mark Hu</td>
 </tr>

 <tr>
  <td class="officeTitle">Shed Frosh</td>
  <td class="officeRow">Tanvi Ganapathy</td>
 </tr>

 <tr>
  <td class="officeTitle">Landlordlord Frosh</td>
  <td class="officeRow">Hana Hisamune</td>
 </tr>

 <tr>
  <td class="officeTitle">Landlord Frosh</td>
  <td class="officeRow">Armeet Jatyani</td>
 </tr>

 <tr>
  <td class="officeTitle">Frog Frosh</td>
  <td class="officeRow">Jasmine Wang</td>
 </tr>

 <tr>
  <td class="officeTitle">Captain Planet</td>
  <td class="officeRow">Arnauld Martinez (&lt;3)<br/>Faiza Shabibi (fire)<br/>Andrew Zabelo (earth)<br/>Ama Obeng(peace)<br/>James Li (air)<br/>Trent Cobos (water)<br/>Jacob Schuster (planet)</td>
 </tr>

 <tr>
  <td class="officeTitle">White Boy Dance Frosh</td>
  <td class="officeRow">Arnauld Martinez</td>
 </tr>

 <tr>
  <td class="officeTitle">Fan Club Frosh</td>
  <td class="officeRow">Hana Hisamune<br/>Isabella Pagano<br/>Jasmine Wang</td>
 </tr> 
 
 <tr>
  <td class="officeTitle">Bae Area Frosh</td>
  <td class="officeRow">Claire Hays<br/>Jena Alsup<br/>Armeet Jatyani<br/>Mark Hu<br/>Ashug Gurijala<br/>Mahi Ravi</td>
 </tr> 
 
 <tr>
  <td class="officeTitle">Ding Dong Ditch Frosh</td>
  <td class="officeRow">Jake Wolmer<br/>Andrew Zabelo<br/>James Li<br/>Kevin Cai</td>
 </tr>

 <tr>
  <td class="officeTitle">Smash Frosh</td>
  <td class="officeRow">Ashug Gurijala<br/> Bryan Oliveira<br/>Jasmine Wang</td>
 </tr>

 <tr>
  <td class="officeTitle">Bughouse Frosh</td>
  <td class="officeRow">Ashug Gurijala<br/> Andrew Zabelo</td>
 </tr>

 <tr>
  <td class="officeTitle">Permafrosh</td>
  <td class="officeRow">Gaurav Phanse <br/> Prashanth Mohan <br/> Joey Litvin <br/> Jonah Yoshida</td>
 </tr>
</table>


          <!---------- TELEPHONE ---------->

          <div class="contactTitle">
            <h3> Alley phones</h3><br>
            <table border="2" class="contactTable">
              <tr class="contactHeader"><td>Alley</td><td>Ext.</td></tr>
              <tr class="contactRow"><td>Lower Crotch</td><td>x1712</td></tr>
              <tr class="contactRow"><td>Upper Crotch</td><td>x1169</td></tr>
              <tr class="contactRow"><td>Tropic</td><td>x6180</td></tr>
              <tr class="contactRow"><td>Valhalla</td><td>x1168</td></tr>
              <tr class="contactRow"><td>Purple</td><td>x3775</td></tr>
              <tr class="contactRow"><td>Fingal's</td><td>x1170</td></tr>
            </table>
          </div>


            <!---------- OFFICERS ---------->

          <br>
          <br>
          <div class="contactTitle">
            <h3>Officer emails (at lloyd.caltech.edu)</h3><br>
            <table border="2" class="contactTable">
              <tr class="contactHeader"><td>Name</td><td>Description</td></tr>
              <tr class="contactRow"><td>president</td><td>President</td></tr>
              <tr class="contactRow"><td>secretary</td><td>Secretary</td></tr>
              <tr class="contactRow"><td>exchequer (for historical reasons)</td><td>Treasurer</td></tr>
              <tr class="contactRow"><td>super</td><td>Superintendent</td></tr>
              <tr class="contactRow"><td>sociald</td><td>Social Director</td></tr>
              <tr class="contactRow"><td>athman</td><td>Athletic Manager</td></tr>
              <tr class="contactRow"><td>reps</td><td>Reps at Large</td></tr>
              <tr class="contactRow"><td>excomm</td><td>Group list</td></tr>
            </table>
          </div>



            <!---------- GROUPS ---------->

            <br>
            <br>
            <div class="contactTitle">
            <h3>Group mailing lists (at lloyd.caltech.edu)</h3><br>
            <table border="2" class="contactTable">
              <tr class="contactHeader"><td>Name</td><td>Group description</td></tr>
              <tr class="contactRow"><td>all</td><td>Full and social members</td></tr>
              <tr class="contactRow"><td>full<br>ffreshmen<br>fsophomores<br>fjuniors<br>fseniors</td><td>Full members</td></tr>
              <tr class="contactRow"><td>social<br>sfreshmen<br>ssophomores<br>sjuniors<br>sseniors</td><td>Social members</td></tr>
              <tr class="contactRow"><td>ra</td><td>The resident associate</td></tr>
              <tr class="contactRow"><td>alumni</td><td>Former full members</td></tr>
              <tr class="contactRow"><td>freshmen<br>sophomores<br>juniors<br>seniors</td><td>Full and social members of the appropriate classes</td></tr>
              <!--
              <tr class="contactRow"><td>girls<br>freshmen-girls<br>sophomore-girls<br>junior-girls<br>senior-girls</td><td>Female full and social members</td></tr>
              <tr class="contactRow"><td>guys<br>freshmen-guys<br>sophomore-guys<br>junior-guys<br>senior-guys</td><td>Male full and social members</td></tr>
              -->
              <tr class="contactRow"><td>fingals<br>inferno<br>kaos<br>purple<br>tropic<br>valhalla<br>vi<br>upstairs<br>downstairs</td><td>People living in the appropriate alleys</td></tr>
              <tr class="contactRow"><td>living</td><td>Full members living inside the House</td></tr> 
              <tr class="contactRow"><td>oc</td><td>Full members not living inside the House</td></tr> 
              <tr class="contactRow"><td>excomm</td><td>The House executive committee</td></tr>
              <tr class="contactRow"><td>headpa</td><td>Head PA/LASR</td></tr>
              <tr class="contactRow"><td>lasrs</td><td>Lloyd Alley Support Reps</td></tr>
              <tr class="contactRow"><td>pas</td><td>Peer Advocates</td></tr>
              <tr class="contactRow"><td>healthads</td><td>Health Advocates</td></tr>
              <tr class="contactRow"><td>titleixads</td><td>Title IX Advocates</td></tr>
              <tr class="contactRow"><td>waiters</br>headwaiters</td><td>House Waiters</td>
              <tr class="contactRow"><td>imssreps</td><td>IMSS reps</td>
              <!-- <tr class="contactRow"><td>socialteam</td><td>The social team</td>
              <tr class="contactRow"><td>athteam</td><td>The ath team</td> -->
            </table>
            </div><br><br>

</div>

{% endblock %}
