{%extends "base.html" %}
{% block content %}

<link href="{{ url_for('.static', filename='css/donate.css')}}" rel="stylesheet">

<div id="donate-title">Donate Now!</div>

<div class="donate-container">
  <div class="image-container">
    <img src="static/img/lloyd-collage.png">
  </div>
  
  <div class="donate-text-container">
    <h2 class="donation-subtitle">A Tradition of Excellence and Fun</h2>
    <p class="donation-text">
      Lloyd has always been more than just a house—it's a vibrant community where 
      lasting friendships are forged, creativity flourishes, and unforgettable memories are made.
      From hosting the best interhouse parties to our dazzling Lloyd Lights display, Lloyd
      continues to be a cornerstone of the Caltech experience.
    </p>
    
    <p class="donation-text">
      Your donation helps ensure that these cherished traditions thrive for generations to come.
      It supports the events, activities, and resources that make Lloyd a home for current
      and future students. Whether you're remembering your time in the House or investing in its
      future, your generosity will have a lasting impact.
    </p>
    
    <p class="donation-text">
      Help keep the spirit of Lloyd alive! Donate below and help us continue to create
      memories that last a lifetime!
    </p>

    <div class="payment-container">
      <a href="https://venmo.com/lloydhouse">
        <img class="payment" src="static/img/payment/venmo.png">
      </a>
    </div>
  
  </div>
</div>

{% endblock %}
