{%extends "base.html" %}
{% block content %}

	<div id="bylawtitle">Photo Gallery</div>
	<div id="bylawsubtitle">&nbsp;</div>
	<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
	<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
		data-link="https://photos.app.goo.gl/i77C8PbyGBcaxHRh9"
		data-title="Lloyd 2022-23"
		data-description="3 new items added to shared album">
		<object data="https://lh3.googleusercontent.com/UdObr-i4k-msYv7b9CnjABhgyINttHVqmN0AqIr7X4jg6rHsMCRzBwAH-euYosxDmufaFFAsfJURB2gzBJgGqrSxNhtwjlY1gAUNOlp4O-VCGKSJISzsNnPmiE3eblrjf8Tgbl5W=w1920-h1080"></object>
		<object data="https://lh3.googleusercontent.com/6Pv1uWtUuMkX0aKwRlHCTFOLk1TObD6r1jLYDtwxFQI3B3G4sEBcbxCJtnd18Uj41NWlTEY9U1ZfyB9TAhE0ubW6wy1KgTH6reAlDKJB_-iwQCMwMGg29JLKhErE1L2OrNKzl63n=w1920-h1080"></object>
		<object data="https://lh3.googleusercontent.com/Gr-eknnuWIpDXkYDtJaUuWyKNph23Q9ps1wxuJWkLcvYkPCmsgVoaJcrM9kVwtEibeVcUdhFo-adv8eU31wHOGMYDJBM4-sskIhypfrtRxZEhxV1AMIFb7zOCLMcbbccFshXo_nI=w1920-h1080"></object>
	</div>


	

{% endblock %}