{%extends "base.html" %}
{% block content %}

	<div id="bylawtitle">Photo Gallery</div>
	<div id="bylawsubtitle">&nbsp;</div>
	<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
	<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
		data-link="https://photos.app.goo.gl/i77C8PbyGBcaxHRh9"
		data-title="Lloyd 2022-23"
		data-description="5 new items added to shared album">
		<object data="https://lh3.googleusercontent.com/_0JgRJJDcM4f0H2GIztlEaa8uf_WQFUOOLtZj_AxFHBU31pmOla8kgPEVpJnufIOadFZ89xbC_xALm0-zJbpCKiLVDCOTDj77JgZBFfGEH3iPD7m1qLKsV98M-syttZGs7SuxtGn=w1920-h1080"></object>
		<object data="https://lh3.googleusercontent.com/1-u20O1mnzAOmQjXmKIiDH-4Xh6ipmy0mPv-so3kQ8IeHVNProYNNpL0qCEvyCTjzZss25p_e5B4tmw64J6QClT_r7k0kBey-GfQxYSxPB0wLu7NLY-KG6e9WsUzJ38zpcg-EJqI=w1920-h1080"></object>
		<object data="https://lh3.googleusercontent.com/C2YKFJaWZlpZOEUogSHM4ZR4SYyi-AJf6ViQn9hPgZd9K2dv4BLfc6edmfYAe73nFs4YyfM2pgAYl2BMF9rqYfSQv5SgaE4fSPHJTfCIo5ClpSHAMdFiH1hkB-6TgT6ogITnCUQy=w1920-h1080"></object>
		<object data="https://lh3.googleusercontent.com/ETtjbLmoSD7MiKl8ZO0CqIotQRYh-Vmkte2k0EyFxGxeWhWu2DoAKwguqJDiwRVxbqfH9O4oTE1LTPWuaI-V9YBvXuUQRY8PQ-gnt6_vQaAKqWgT9XCu80crCRI2tE9Beh0XDlfs=w1920-h1080"></object>
		<object data="https://lh3.googleusercontent.com/29qpRlnOKfeTTp6ctpZzwz1Ssq0yUXb-UN-0IxL-OD6ulohEzWkztuMkz_zWYRu3zioL7AB76OtGbjSWXzUsspyOH3tPqmstK1J3JF9mVst0rBsF3ZKqGO1OjPMih32FZa-L8ENP=w1920-h1080"></object>
	</div>

	<img src="https://photos.google.com/share/AF1QipNzZEwB3YCsuv6oqqy3hLQhfP9A_ZaMaV8Ayl387W-swFcY44QPqIANQT4VUX3t4w/photo/AF1QipN1Lc3ESQarwgEvsRSB4rzJy3ENczHR9Iq-n5gR?key=cThxZ0l3ZlFXc0MzajFqUWR1ZEl2WTJLcjZxeWln">

	

{% endblock %}