{%extends "base.html" %}
{% block content %}

<link href="{{ url_for('.static', filename='css/index.css')}}" rel="stylesheet">

<script>
window.addEventListener("scroll", reveal);

// make the lloyd map "active" when it's visible
function reveal() {
    var map = document.getElementById("lloyd-map-left");
    var windowHeight = window.innerHeight;
    var elementTop = map.getBoundingClientRect().top;
    var elementVisible = 200;
    if (elementTop < windowHeight - elementVisible) {
        map.classList.add("active");
    }   
}

// simple scroll to next section
function scrollToNext() {
    var secondsec = document.getElementById('map-section');
    secondsec.scrollIntoView({behavior: "smooth"});
}

</script>

    <header id="hp-group-photo">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">I Llive and Die</div>
                <div class="intro-heading">For Those I Llove</div>
                <!-- FOR ROTATION 
                <a href="{{ url_for('rotation.rotation_home') }}" class="page-scroll btn btn-xl">Well Shiet</a>
                -->
                <!-- FOR PEACETIME -->
                <a onclick="scrollToNext()" class="page-scroll btn btn-xl">Learn More</a>
            </div>
        </div>
    </header>

    <section id="map-section">
        <h2 style='text-align: center'>
            The best house
        </h2>
        <h4 class="text-muted" style='text-align: center'>
            (of the north houses that are to the right of page and the left of venerable)
        </h4>
        <br>
    <div id="lloyd-map-left">
        <img src="{{ url_for('.static', filename='img/campus_map.jpg')}}">
    </div>
    </section id="map-section">

    <div class="container" id="events-section">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" id="events-section-title">What are we up to?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="timeline">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="static/img/caroline.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>CS Majors Go Outside</h4>
                                <p class="text-muted">Camping trip at Joshua Tree, overnight beach trip, and ski trip!</p>
                            </div>
                        </div>
                    </li class="timeline-inverted">
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="static/img/shieeet.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Casual Events</h4>
                                <p class="text-muted">Lloyd ollympics, Midterm movie night, Super Bowl watch parties</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="static/img/blun.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Lloyd Lights</h4>
                                <p class="text-muted">Put a beautiful L on Caltech Hall during the holiday season.</p>
                            </div>
                        </div>
                    </li class="timeline-inverted">
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="static/img/shieeet.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Sports!</h4>
                                <p class="text-muted">The most underrated interhouse lineup, half the tennis team, and Beaver Ballers FC, a premier Sunday League soccer team.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline">
                        <a href="calendar">
                            <div class="timeline-image" id="link-to-more">
                                <h4>+ more!</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
{% endblock %}
