{%extends "base.html" %}
{% block content %}

<h1 style="text-align: center; color: black; font-family: 'Verdana'; font-size: 30px;">
  Please Login
</h1>

<head>
  <style>
    .container2 {
      width: 500px;
      height: auto;
      margin: 25px auto;
      background: rgb(246, 232, 145);
      border-radius: 10px;
      padding-bottom: 20px;
      position: relative;
    }

    input {
      width: 420px;
      height: 40px;
      margin: 20px 40px 5px 40px;
      padding: 15px;
      border: none;
      border-radius: 5px;
      font-size: 18px;
    }

  </style>
</head>
<body>
  <div class="container2">
    <div class="form-group">
      <form action="" method="post", name="login">
        {{ form.hidden_tag() }}
        
        <div>{{ form.username(size=10) }}</div>
        <div>{{ form.password(size=10) }}</div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
                <h6 style="margin-top: 10px; text-transform: lowercase; text-align: center; color: red; font-size: 15px;">
                  {{ message }} 
                </h6>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <input type="submit" value="Login" class="btn btn-default" style="
          width: 320px;
          height: 50px;
          margin: 10px 90px;
          padding: 10px;
          border: none;
          border-radius: 5px;
          background: rgb(34, 34, 34);
          color: #F1F3F7;
          cursor: pointer;">
        <br>
        <br>
        <input type="submit" value="Login with Google" class="btn btn-default" formaction="/lloyd/Glogin" style="
          width: 320px;
          height: 50px;
          margin: 10px 90px;
          padding: 10px;
          border: none;
          border-radius: 5px;
          background: #4d4dec;
          color: #f9f9f9;
          cursor: pointer;">
      </form>
    </div>
  </div>
</body>

{% endblock %}