{%extends "base.html" %}
{% block content %}

	<div class="container">
      <h1>Please Login</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
          {% for message in messages %}
              <li style="color: red;">{{ message }} </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <br>
      <div class="col-sm-2">
        <div class="form-group">
          <form action="" method="post" name="login">
            {{ form.hidden_tag() }}
            <div>{{ form.username(size=20, class="form-control") }}</div>
            </br>
            <div>{{ form.password(size=20, class="form-control") }}</div>
            <div class="checkbox">
              <label>
                {{ form.remember_me }} Remember Me
              </label>
            </div>
            <input class="btn btn-default" type="submit" value="Login">
          </form>
        </div>
      </div>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
	

{% endblock %}