{%extends "base.html" %}
{% block content %}

	<div id="bylawtitle">Prefrosh Experience</div>
	<div id="bylawsubtitle">&nbsp;</div>
	<a href="https://www.youtube.com/watch?v=Gjo2WIMas6k&feature=youtu.be">Interhouse Building 2019 </a> <br>
	<a href="https://drive.google.com/file/d/1nU--j5rVEZ-WqD2HRnByzqu9fbO79XwF/view">Rotation Video 2019-2020 </a> <br>
	<a href="https://drive.google.com/drive/folders/14aaEujtgiwcqQ4PSm20gTYBW9Lpg5Bvd">Lloyd Events 2019-2020 </a> <br>
	<a href="https://drive.google.com/file/d/1VuOP1kiWPkgdA4GzOluvcSiAwuI_qHil/view?usp=sharing">Newsletter 2020 </a> <br>



{% endblock %}
