{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Ping Pong Leaderboard</h1>

    <div>
      <hr>
      <table class="table-bordered" style="width: 100%">
        <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Score</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user.nickname if user.nickname != "" else user.firstname }}</td>
            <td>2100</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}