{%extends "base.html" %}
{% block content %}

<style>
  p {
    text-indent: 20pt;
  }
</style>



	<p> Hi prefrosh! We're so sorry that Prefrosh Experience couldn't be on campus this year, but we hope that you'll look into some of the videos/pictures </p>
	<p>we've put up and get a glimpse what campus life is like! </p>

	<div id="bylawtitle">Prefrosh Experience</div>
	<div id="bylawsubtitle">&nbsp;</div>
	<p><a href="https://www.youtube.com/watch?v=Gjo2WIMas6k&feature=youtu.be">Interhouse Building 2019 </a> </p><br>
	<p><a href="https://drive.google.com/file/d/1nU--j5rVEZ-WqD2HRnByzqu9fbO79XwF/view">Rotation Video 2019-2020 </a> </p><br>
	<p><a href="https://drive.google.com/drive/folders/14aaEujtgiwcqQ4PSm20gTYBW9Lpg5Bvd">Lloyd Events 2019-2020 </a> </p><br>
	<p><a href="https://drive.google.com/file/d/1VuOP1kiWPkgdA4GzOluvcSiAwuI_qHil/view?usp=sharing">Newsletter 2020 </a> </p><br>



{% endblock %}
