{%extends "base.html" %}
{% block content %}

    <link href="{{ url_for('.static', filename='css/resources.css')}}" rel="stylesheet">

    <div id="bylawtitle">Resources</div>

		<div id="resourcesContent">
      <div class="resources-item">
        <a href="https://drive.google.com/drive/folders/10hgDrGvDQT9vlSBY6NRgNWnJUNE9PjjD?usp=sharing">
          <div class="resources-image">
            <img src="static/img/minutes_pink.jpg">
          </div class="resources-image">
          <h4>Excomm Minutes 22-23 </h4>
        </a> 
        <p class="text-muted">Excomm meets weekly and keeps Lloyd running smooth. The minutes are how you can keep up with how things are
          run in Lloyd. If you have any concerns, you can either come to the Excomm meeting (see calendar) or use the anonymous
          feedback form sent before each meeting.
        </p>
      </div>
      
      <div class="resources-item">
        <a href="https://docs.google.com/spreadsheets/d/1UvUkPjWQp67I3rkqYl_bx3lWdgSmvjEIlj5PgMGX9RQ/edit?usp=sharing">
          <div class="resources-image">
            <img src="static/img/minutes_blue.jpg">
          </div class="resources-image">
          <h4>Shed Reservation Link </h4>
        </a> 
        <p class="text-muted">This is link to book the shed (you can also find this from scanning the QR 
          code on the door of the shed). Reserving will make it easier to schedule movies or game nights
          with your friends. Outside of reserved times, the shed will still be available for "walk-in" events.</p>
      </div>

      <div class="resources-item">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfNvNwibNDtYeir17V7JwrSqR6is0JMe-DEFQ_yvH0oB2hxEQ/viewform">
        <div class="resources-image">
          <img src="static/img/minutes_pink.jpg">
        </div class="resources-image">
        <h4>Reimbursement Form </h4>
        </a> 
        <p class="text-muted">If you made a purchase that was approved to get funding, fill out this form to be 
          reimbursed. In general, you can get reimbursed for things you purchased for events if the purchases 
          were approved ahead of time during an excomm meeting. </p>
      </div>

      <div class="resources-item">
        <a href="https://drive.google.com/drive/folders/1WvVnKd7Oj1kyQRV98b3mH2YhQOgNeVMN?usp=sharing">
        <div class="resources-image">
          <img src="static/img/minutes_blue.jpg">
        </div class="resources-image">
        <h4>Excomm Minutes 21-22 </h4>
        </a> 
        <p class="text-muted">Here are old meeting minutes as well.
        </p>
      </div>
    </div>

{% endblock %}
